[2017-04-20 21:28] smtakeda opened #3 "Cancel on Ctrl+C"
### Issue description
When hitting ctrl+C, the query must stop.

[2017-04-20 21:29] smtakeda opened #4 "Retry on 5xx and 4xx"
### Issue description
must retry on 5xx and 4xx

[2017-04-20 21:29] smtakeda opened #5 "Implement OCSP validation"
### Issue description
TLS connection must be validated with OCSP/CRL (unless Go's library does)

[2017-04-21 03:39] smtakeda opened #6 "Ping Pong connection refresh"
### Issue description
In a long running query, the token must be refreshed periodically to keep the connection alive.

[2017-04-21 03:43] smtakeda opened #7 "Implement PUT and GET"
### Issue description
PUT and GET support. This requires AWS SDK to communicate with S3.

[2017-04-21 03:44] smtakeda opened #8 "TravisCI integration"
### Issue description
Need to run CI with TravisCI

[2017-04-21 03:45] smtakeda opened #9 "CodeCov integration"
### Issue description
Code coverage by CodeCov

[2017-04-21 03:47] smtakeda opened #10 "Makefile for CI and Deployment"
### Issue description
Makefile will be used for CI and Deployment

[2017-04-21 03:48] smtakeda opened #11 "Clean up Logging"
### Issue description
Clean up logging

[2017-04-21 03:48] smtakeda opened #12 "Transaction support"
### Issue description
Transaction support

[2017-04-24 04:34] smtakeda opened #19 "TIMESTAMP_LTZ support"
### Issue description
TIMESTAMP_TZ and TIMESTAMP_LTZ supports are required for bind and fetch.

[2017-04-24 05:43] #12 closed, assigned to smtakeda

[2017-04-24 21:02] #11 closed, assigned to smtakeda

[2017-04-25 00:50] #6 closed, assigned to howryu

[2017-04-25 06:01] howryu opened #32 "Implement query execution with Context"
### Issue description
Implement following interfaces with context arugment passing in. This is the interface not deprecated. Also it is easier implementing cancel function.

This is the context package: https://golang.org/pkg/context/

### Interfaces to implement
[code]

[2017-04-25 06:19] #4 closed, assigned to smtakeda

[2017-04-28 15:47] smtakeda opened #41 "Implement Ping and PingContext"
### Issue description
Beter to have Ping and PingContext

[2017-04-28 15:51] smtakeda opened #42 "Versioning"
### Issue description
As of today, versoin.go has Go Snowflake version. We may have better way to maintain the versioning.

[2017-04-28 15:52] smtakeda opened #43 "Add more examples"
### Issue description
We may want to have more examples in cmd/ directory.

[2017-04-28 15:55] smtakeda opened #44 "Pass go-sql-test"
### Issue description
https://github.com/bradfitz/go-sql-test

[2017-04-28 15:58] smtakeda opened #45 "Snowflake Date, Time and Timestamp formatters"
### Issue description
We may need to have Snowflake date, time and timestamp formatters. Currently all data are converted into native Golang types in fetch operations. But if the client application wants to honor timestamp formats ``TIMESTAMP_OUTPUT_FORMAT``, etc, the driver needs to parse the date format string and format date time data.

[2017-04-28 15:59] smtakeda opened #46 "Add benchmark tests"
### Issue description
Purpose is detect the regression

[2017-04-28 16:04] smtakeda opened #47 "Add Authenticator interface and support OKTA"
### Issue description
Add Authenticator interface so that both Snowflake and OKTA authentication are supported consistently and future extension.

[2017-04-28 22:46] smtakeda opened #49 "Investigate sqlx"
### Issue description
http://jmoiron.github.io/sqlx/

Find out what it is and can be integrated or incorporated with Go Snowflake driver.

[2017-04-29 13:32] #49 closed, assigned to nobody

[2017-04-30 17:13] smtakeda opened #51 "BINARY Support"
### Issue description
BINARY fetch and binding support is required.

[2017-05-02 02:44] #51 closed, assigned to smtakeda

[2017-05-02 05:38] smtakeda opened #54 "Add Proxy support"
### Issue description
All HTTP communication needs proxy support

[2017-05-02 15:16] smtakeda opened #56 "Use the session parameter TIMEZONE to translate TIMESTAMP_LTZ data"
### Issue description
Currently time.Local is used to translate TIMESTAMP_LTZ data. To be consistent with other drivers, we should honor TIMEZONE session parameter to translate TIMESTAMP_LTZ.

[2017-05-02 21:03] smtakeda opened #60 "Fix race condition issues detected by race flag"
### Issue description
If you run tests with -race flag, you'll get errors. We should fix this by prod.

[2017-05-02 21:59] #9 closed

[2017-05-02 21:59] #8 closed

[2017-05-02 21:59] #47 closed

[2017-05-02 22:00] #19 closed

[2017-05-02 22:00] smtakeda opened #62 "Binding TIMESTAMP_TZ support"
### Issue description
This requires the server side change.

[2017-05-03 03:06] #60 closed

[2017-05-03 16:05] smtakeda commented on #5
Here are the steps to implement the revocation checks with OCSP:
* Check if certificate validation can be intercepted to add revocation checks (Yes. TLSClientConfig including verifyPeerCertificate can be injected in Client)
* Extract OCSP URL from the certificate
* Make sure OCSP Request can be composed.
* Make sure a simple roundtrip with OCSP server returns OCSP Response and can be decoded.
* Ma

[2017-05-04 01:55] #10 closed

[2017-05-04 01:55] smtakeda commented on #10
This was done.

[2017-05-05 21:13] #5 closed

[2017-05-09 20:18] #54 closed

[2017-05-10 16:43] smtakeda commented on #44
Looks like all tests are already covered. Not much worth to port the test codes for Snowflake db.

[2017-05-10 16:43] #44 closed

[2017-05-13 16:58] smtakeda opened #79 "run go-fuzz tests?"
### Issue description
We might want to run fuzzing tests to harden the code base.

Go fuzz package is available here:
https://github.com/dvyukov/go-fuzz

[2017-05-15 18:43] smtakeda opened #80 "Large result set cannot be fetch."
### Issue description
Wrong usage of channels. If the number of chunks is more than the channel's size, it will hang.

[2017-05-15 23:42] #80 closed

[2017-05-16 14:09] smtakeda opened #83 "Does DecimalSize apply to Timestamp types?"
### Issue description
Need to investigate if DecimalSize applies to Timestamp types?
https://golang.org/pkg/database/sql/#ColumnType.DecimalSize

Currently DecimalSize supports only FIXED data type.

[2017-05-16 18:21] smtakeda commented on #62
Snowflake 1.95 will have the server side fix.

[2017-05-17 04:50] #41 closed

[2017-05-17 04:51] smtakeda commented on #32
In 1.8, Query, Exec and Begin are depreciated. If we decide to set the minimum version of Go to 1.8, let's remove them.

[2017-05-17 05:29] smtakeda commented on #7
This is not for v1.0

[2017-05-17 17:16] smtakeda opened #89 "flush glog on every error"
glog must be flushed otherwise no log shows up.

[2017-05-17 18:30] smtakeda commented on #32
turned out we cannot remove Begin from Conn.

[2017-05-17 18:32] howryu commented on #32
I would rather leave it there for a while.... in case we need to support 1.7 some day later.

[2017-05-17 22:32] smtakeda opened #90 "add SQLState to errors"
### Issue description
Tell us what should happen and what happens instead

[2017-05-18 17:22] smtakeda commented on #32
Fair enough.

But I doubt we would be able to support Go 1.7 as the revocation check with OCSP cannot be implemented prior to 1.8. Let's get more feedbacks.

[2017-05-22 17:02] #62 closed

[2017-05-22 17:59] #89 closed

[2017-05-23 17:19] #90 closed

[2017-05-23 17:43] smtakeda commented on #32
ok. can we close this issue? Looks all of them are already implemented. For further works, open new issues.

[2017-05-23 20:35] smtakeda commented on #56
Won't do this.
It turned out that the applications would be more complicated in managing local timezone if it relies on TIMEZONE session parameters.

[2017-05-23 20:35] #56 closed

[2017-07-05 16:55] smtakeda commented on #42
will add version tag as usual

[2017-07-05 16:55] #42 closed

[2017-07-13 17:37] smtakeda commented on #46
added the large result set benchmark tests

[2017-08-03 09:41] aykutfarsak opened #106 "Flag conflicts"
### Issue description
When i use `flag.Parse()` in my project, it conflicts with glog package.

### Example code
[code]

### Error log
[code]

### Configuration
*Driver version (or git SHA)*: 584b6e14f67820b0ccd9a40d3b26bdc31b3b9345

*Go version:* go1.8.1 darwin/amd64

*Client OS:* Darwin Kernel Version 16.6.0

[2017-08-03 18:37] smtakeda commented on #106
well, in my understanding, `flag` parameter name space is global, as long as the driver uses `glog`, we cannot avoid the conflict. At the moment, we don't have a plan to change the logging framework, so please use other name for your application.

For long term, the driver may use different logging framework, or if `flag` supports multiple name spaces, we'll leverage that.

Anyway, any suggestion

[2017-08-04 07:18] disq commented on #3
How is this the job of a database/sql driver? The user should capture ctrl-c (or any other exit/error event) and act accordingly, cancelling queries if needed.

[2017-08-04 13:17] smtakeda commented on #3
Ah, I missed this item. will see when we can do this.

Basic idea is if a Ctrl+C event happens while running a query, the driver should submit cancel REST API to cancel the query in the server side.

[2017-08-04 13:34] smtakeda commented on #46
issue #107

[2017-08-04 18:12] smtakeda commented on #3
PR #108 has changes for review.

[2017-08-05 01:18] smtakeda opened #109 "Use `dep` for dependency management"
### Issue description
`glide` is good, but go tool is likely to have `dep` in the near future.

[2017-08-09 14:47] #3 closed

[2017-08-09 14:48] smtakeda commented on #32
Closing.

[2017-08-09 14:48] #32 closed

[2017-08-09 14:48] smtakeda commented on #42
Related to #109

[2017-08-18 17:43] smtakeda opened #110 "raise error if the specified db, schema or warehouse doesn't exist"
### Issue description
Golang driver should raise error if the specified db, schema or warehouse doesn't exist.
The role is already validated, but not others are. This is more or less historical reason. no-error-for-invalid db behavior has been around since there was no concept of default db, schema or warehouse. Well, even no warehouse exists 3.5 years ago.

[2017-09-12 13:38] disq opened #111 "Make logging optional"
Looks like logging is currently used only for debugging. Also, libraries using their own logging mechanisms are mostly frowned upon, here are some references:

- https://www.0value.com/about-Go-logging
- https://peter.bourgon.org/go-best-practices-2016/#logging-and-instrumentation
- https://github.com/go-kit/kit/issues/42

To remedy this, maybe we could create a compatible wrapper for glog and sep

[2017-09-12 16:37] smtakeda commented on #111
That sounds good. Please go ahead to file PR! thanks.

[2017-09-14 14:50] #111 closed

[2017-09-14 14:59] smtakeda commented on #106
This was addressed by #111. Closing.

[2017-09-15 14:13] #106 closed

[2017-09-20 21:57] smtakeda commented on #43
This is more or less ongoing task. Removing from v1.0 project.

[2017-09-21 06:33] igungor commented on #43
What do you think about moving the examples to a an [testable example](https://blog.golang.org/examples)? They could be part of the test suite (also CI can run them with 'go test').

[2017-09-22 20:20] smtakeda commented on #43
Yeah, that would be a good idea. I just didn't have a chance to transform yet.

[2017-10-25 21:23] smtakeda commented on #109
duplicate #121

[2017-10-25 21:23] #109 closed

[2017-10-25 21:25] #43 closed

[2017-10-25 21:25] #46 closed

[2017-11-17 23:06] #110 closed

[2017-11-18 00:52] smtakeda opened #125 "Deprecate proxy parameters and recommend the environment variables"
### Issue description
There are two ways to use proxy server, one of which is by the parameters in connection and other of which is by the environment variables HTTP_PROXY, HTTPS_PROXY and NO_PROXY.

One missing feature by the parameters is NO_PROXY. It is possible to implement gosnowflake own no_proxy, but we want to deprecate the use of parameters as there is no much value to have connection spe

[2017-12-01 16:39] #125 closed

[2017-12-12 21:45] smtakeda commented on #42
Now the version is attached as tags so that `dep` should be able to pick up the right version

[2017-12-12 22:10] murpheywa opened #132 "Bug in converter.go, line 170"
### Issue description
converter.go, line 170 should store a nil back into the "dest" pointer parameter. Instead it sets the pointer itself to nil.
The end result is a column value from the prior row gets passed to caller's next row if the next row's column value is nil.

### Example code
Just change line 170 from

[code]

to

[code]

### Error log
N/A

### Configuration
Both 1.1.0 and 1.1.1, any a

[2017-12-13 01:44] smtakeda commented on #132
Thanks for reporting a bug.. WIP

[2017-12-13 01:58] #132 closed

[2017-12-13 01:59] smtakeda commented on #132
The fix is merged with a test case. Get the latest code to have the fix for now.

[2018-01-23 01:25] dominicbarnes opened #138 "Context not respected for Ping command"
### Issue description

If you try to ping a non-existent Snowflake account, you just get an HTTP timeout after about 60s. This is pretty long, and there is `Config.LoginTimeout` which cancels the HTTP request after another duration.

However, if you use a `Context` that expires, this does not get respected by `PingContext` and the `LoginTimeout` (if specified) or the raw HTTP timeout gets triggere

[2018-01-23 01:31] smtakeda commented on #138
Thanks for filing an issue. I'll look into this tomorrow morning or earlier.

[2018-01-23 17:56] smtakeda commented on #138
It appeared the driver method `Ping` is called **only after** the connection is success. Hence the context is not honored if the connection fails. In that sense, the functionality of `Ping` is not really to check the connectivity rather making sure the connected database is functional.

Anyway I believe the goal here is when an invalid account name is specified, how quickly connection failure can

[2018-01-23 19:01] dominicbarnes commented on #138
@smtakeda as described in my code sample, the `LoginTimeout` works just fine. The context not being respected is the reason for this bug report, as I tried this method before I discovered the `LoginTimeout` config.

As far as what to do for an invalid account, I agree with you that it would be much preferred that we identify that condition much more quickly as it's currently indistinguishable from

[2018-01-23 19:23] smtakeda commented on #138
Thanks for confirmation. At the moment, I cannot do much for the behavior of Ping with context due to what I discovered. But the driver could raise an error as soon as HTTP 403 is returned in authentication. The only reason why the driver retries for 403 is because AWS S3 endpoints sometimes return 403 and retry often works, but since the authentication won't involve AWS S3 endpoints, I believe it

[2018-01-24 00:39] smtakeda commented on #138
@dominicbarnes can you please try the latest code? e1f17ecfebbf89bd8e5eccc8ee6f5621d10550c0

[2018-02-07 01:59] smtakeda opened #149 "Remove glide"
### Issue description
Currently `dep` and `glide` are used to manage the dependency. As `dep` becomes the standard tool, we should drop `glide` configs.

[2018-02-26 05:40] sirwart opened #151 "Connection string is not properly unescaped"
### Issue description
For database drivers special characters in the password are normally url-encoded using percents. This lets you pass passwords that contain a '@' or ':' into the driver without causing issues. This driver just interprets whatever is between the '@' and ':' in the connection string as the password, which will cause failures if the user's password contains one of those character

[2018-02-26 23:40] smtakeda commented on #151
The `dataSourceName` parameter of `sql.Open` is expected to be URI, hence it is an application's responsibility to escape parameters.
https://golang.org/pkg/database/sql/#Open
If it is not clear, I'll update the doc.

I understand `DSN` function, on the other hand, needs to escape parameters to construct DSN:
https://github.com/snowflakedb/gosnowflake/blob/master/dsn.go#L50

[2018-02-26 23:57] sirwart commented on #151
I was originally escaping the parameters, but since they're not unescaped by parseDSN (and parseUserPassword in particular https://github.com/snowflakedb/gosnowflake/blob/master/dsn.go#L335) I can't connect with a password with special characters.In the screenshot below is both my original code that I commented out since didn't work, and my unescaped code that will work unless the password contain

[2018-02-27 00:39] smtakeda commented on #151
Oh, ParseDSN is supposed to escape them. Fixing.

[2018-02-27 00:58] tjj5036 commented on #149
I can take this one, should be fairly straightforward.

[2018-02-27 01:21] smtakeda commented on #149
Great! Thanks.

[2018-02-27 03:46] sirwart commented on #151
Thanks @smtakeda, it's working great now!

[2018-02-27 03:46] #151 closed

[2018-03-12 15:50] smtakeda opened #158 "Array binding support"
### Issue description
Snowflake supports array binding, and JDBC, ODBC and Python connector supports it. We want to have one for Gosnowflake.

### Example code
Looks like lib/pq package for Postgresql supports it.
http://agniva.me/go/2018/03/11/lib-pq.html

[2018-03-12 17:10] tjj5036 commented on #7
If no one has started work on this I'd be happy to do it.

[2018-03-12 17:37] smtakeda commented on #7
@tjj5036 great! See python connector about how it works. Let me know if you have questions. Thanks!

[2018-04-03 14:56] BenjaminDavison opened #159 "Running go get results in an error."
### Issue description
Running `go get` results in an error.

### Example code
[code]

### Configuration
*Driver version (or git SHA):* master

*Go version:* go version go1.10 darwin/amd64

*Client OS:* OSX

Thanks,

Ben

[2018-04-03 15:22] smtakeda commented on #159
No worry. You can ignore the errors and continue running:
[code]

[2018-04-05 21:58] yemble opened #160 "Handle 390114 "Authentication token has expired" response from server"
### Issue description

We've been receiving the following error from Snowflake:
[code]

It's not being caught and handled in the driver. `restful.go` has
[code]

Perhaps the error number has changed, or this is a new variant which needs to be handled the same way?

### Error log

As above

### Configuration

Long running kafka->snowflake process.

[2018-04-06 00:06] smtakeda commented on #160
There are two tokens issued for the session, master and session token. The master token is valid for 4 hours, while the session token is valid 1 hours. Obviously the session token expires first, `390112` is returned, then the driver will automatically renew it using the master token and update the master token itself. So in theory, if the token renewal occurs every hour, the connection is valid fo

[2018-04-06 00:07] #159 closed

[2018-04-06 15:04] yemble commented on #160
Thanks for that explanation. Reopening the connection will suffice until the heartbeat feature is implemented. In practice we're unlikely to be idle for such a long time.

[2018-04-24 13:56] smtakeda opened #161 "Build started failing with the error unrecognized import path "golang.org/x/lint""
### Issue description
Build started failing.
[code]

[2018-04-24 13:58] smtakeda commented on #161
Duplicates https://github.com/golang/lint/issues/397

[2018-04-24 14:44] #161 closed

[2018-05-18 03:35] jerry-b commented on #160
We had to work around this as well, the driver will be much more convenient when there is a built in solution.

[2018-05-21 20:31] smtakeda commented on #160
An initial implementation. A simple test passed.
https://github.com/snowflakedb/gosnowflake/pull/164

Would be great if somebody reviews the code.

[2018-05-21 22:41] rem7 commented on #160
@smtakeda any particular reason why you guys are choosing to do a heartbeat? I believe usually clients (mysql, postgres) that implement database/sql simply auto-reconnect if the connection gets broken. Why not just issue a reconnect in the background when `390114` is encountered?

[2018-05-21 23:42] smtakeda commented on #160
@rem7 If the authentication method is a pair of user/passwd, the driver could keep it in memory for later use, but that's not what we want for security reason. For example, serialized data including secrets could be stolen. A thread associated with other account could read it from memory. In fact, most of Snowflake drivers wipe out the credentials right after the authentication to reduce a chance

[2018-05-22 02:54] rem7 commented on #160
yes, for user/pass that are services it should be stored in memory. A lot of applications that use drivers like this will be using service roles that aren't SSO. Most drivers store it in memory because they received this data passed to them, for example `sql.Open("snowflake", dataSourceName)`.

The password came from a configuration file, file on disk, env var, etc. Needless to say, your library w

[2018-05-22 22:58] smtakeda commented on #160
Again we won't cache secrets. That's application's choice and not default behavior of the driver. The session refresh will work for all authentication methods.

[2018-05-23 23:15] #160 closed

[2018-05-27 03:13] Preston4tw opened #167 "Error when attempting to connect without specifying a database"
### Issue description
Opening a database connection without specifying a database results in an error. This worked previously. I think this is an unintended side effect of https://github.com/snowflakedb/gosnowflake/pull/124

### Example code
test.go
[code]

### Error log
[code]

### Configuration
*Driver version (or git SHA):* 4f647d62fd0f7a4fba8fd32af8ce14d9b30d7818
*Go version:* go1.10.2 darwin/

[2018-05-27 03:37] Preston4tw commented on #167
I realized my checkout is out of date and this has been fixed.

[2018-05-27 03:37] #167 closed

[2018-06-19 16:34] smtakeda opened #173 "Implement UUIDv4"
gosnowflake depends on the third party UUID library (satori and Google) for the request id, which is used to track the client request. It is pain when the UUID breaks the API compatibility like the event happened half year ago on https://github.com/satori/go.uuid, so it would be nice to have our own UUID Implementation based on https://tools.ietf.org/html/rfc4122.

The requirement is not performan

[2018-06-21 21:59] bobzoller opened #174 "How do you quote identifiers?"
### Issue description
I expected the API to have a way to quote identifiers (like table names), but it does not appear to.

### Example code
I want to do something like this:

[code]

[2018-06-21 23:02] smtakeda commented on #174
can your problem be solved by direct binding the table name?
[code]
See https://docs.snowflake.net/manuals/sql-reference/identifier-literal.html for binding identifier.

[2018-06-23 03:15] bobzoller commented on #174
ah!  yes that works, thanks.

[2018-06-23 03:15] #174 closed

[2018-07-17 20:21] williammarino commented on #160
@smtakeda Can we add this to the python driver as well?  Getting the same error.

[2018-07-25 22:21] Preston4tw opened #179 "Support for keypair authentication"
Placeholder issue. Keypair auth would be nice to have. It looks like the python implementation is here https://github.com/snowflakedb/snowflake-connector-python/blob/master/auth_keypair.py.

[2018-08-03 17:38] tjj5036 commented on #7
I've started working on PUT support, currently working off https://github.com/tjj5036/gosnowflake/tree/put_and_get

[2018-08-07 16:56] ilkinulas opened #181 "A question about Heartbeat implementation"
### Issue description
When `CLIENT_SESSION_KEEP_ALIVE` is enabled, snowflake go  driver starts a heartbeat goroutine every time `func (sc *snowflakeConn) exec(.....)` is called. It only stops the heartbeat when `Close()` is called on the connection.

If you send multiple queries without closing the connection, snowflake go driver leaks goroutines.

In the example below the same connection is used

[2018-08-09 15:57] smtakeda commented on #181
Yes, with the current implementation, ensure calling `close` method to avoid the leak.
https://github.com/snowflakedb/gosnowflake/blob/master/connection.go#L171

[2018-08-09 16:06] ilkinulas commented on #181
Thanks for the reply
I am using a temporary table so i need to use the same connection across queries.
If I close the connection, is there a way to get the same connection (session) the next time i call `sql.Open`?

[2018-08-09 21:31] smtakeda commented on #181
So the problem is by default Go SQL will use a connection pool that spins up multiple connections automatically. So if you want to guarantee a single session is used per `sql.Open`, set the parameter as follows:
[code]
See this for example:
https://github.com/snowflakedb/gosnowflake/blob/master/cmd/noconnpool/noconnpool.go#L67

[2018-08-10 06:25] ilkinulas commented on #181
if I run the sample at  https://github.com/snowflakedb/gosnowflake/blob/master/cmd/noconnpool/noconnpool.go with
`CLIENT_SESSION_KEEP_ALIVE` enabled 10 heartbeat is started and only one is stopped when `Close` is called.

By the way `Close` also starts a heartbeat  which is not stopped.

I think, a heartbeat should be associated with a session, not for each `exec` operation on the session.

What d

[2018-08-13 16:48] smtakeda commented on #181
Merged the fix. @ilkinulas can you please try the latest? Thanks.

[2018-08-14 06:29] ilkinulas commented on #181
Thanks a lot, I'll try in our test environment and wait for `v1.1.10` to deploy to production.

[2018-08-15 23:03] smtakeda commented on #181
Thank you for your patience. v1.1.10 was just published.

[2018-08-15 23:03] #181 closed

[2018-08-15 23:03] smtakeda commented on #179
Added this to the internal backlog.

[2018-09-06 23:47] smtakeda commented on #179
Released as a private preview. https://github.com/snowflakedb/gosnowflake/tree/v1.1.11

@Preston4tw try and let us know if you have questions.

[2018-09-06 23:47] #179 closed

[2018-09-10 13:04] ilkinulas commented on #181
Hi, we have upgraded to v1.1.10 and no problems so far.
Thank you.

[2018-09-10 17:47] tsuna opened #190 "Improperly vendored glog"
As of commit 56b1dfc3c5789891147ee73356ec5b4f0bd416e0 for some reason you guys decided to copy-paste glog into your repo instead of using vendoring.  Can you please not copy-paste the glog code in your project?  Not only it forces us downstream to vendor this "vendored" code, but also it removes our ability to override the glog implementation used.

It's not clear to me why you did this but if it'

[2018-09-14 20:47] ChTimTsubasa commented on #190
Hi @tsuna .

I am not sure what do you mean by "copy-paste" glog into our repo? Do you mean to push the files under vendor folder to the github?

Also, as you said that it removes your ability to override the glog implementation used. Within the this driver, this is done intentionally since we want to force our customers using UTC timestamp, since from time to time they want to send the log to us

[2018-09-14 20:59] tsuna commented on #190
The code used to vendor glog properly under `vendor/` but as of commit 56b1dfc3c5789891147ee73356ec5b4f0bd416e0 it was copied directly into the `gosnowflake` package.  That's what I meant.

If you want to override glog, the correct way to do it is to fork `glog` to the `snowflakedb` account and then add the aforementioned override to `Gopkg.toml`.

We are vendoring `gosnowflake` and we use our own

[2018-09-14 23:18] tsuna commented on #190
Yes.

[2018-09-15 00:27] ChTimTsubasa commented on #190
@tsuna Thanks. This issue would be addressed soon.

[2018-09-17 16:52] ChTimTsubasa commented on #190
Hi @tsuna
We need to have some way to give people who do not want to implement their own logger a default logger(which is our forked version of glog(https://github.com/snowflakedb/glog). But doing the `[[override]]` way clearly won't work.

I am new to Golang and wondering if you may have any good suggestion?

[2018-09-17 19:14] ChTimTsubasa commented on #190
Force download by revision.

[2018-09-18 02:45] ChTimTsubasa commented on #190
Issue addressed.

[2018-09-18 02:45] #190 closed

[2018-10-23 22:03] zombiefungus opened #205 "Scan always produces string when destination is `interface{}`"
### Issue description
Scan when destination is interface should produce values with appropriate types
What I see: it doesn't matter the type a column has in the db, it produces a string
What I expect to see: get an int/string etc according to the data type in the db
Same test changing the driver from `snowflake` to `postgres` produces `int64` in `out1`

### Example code
[code]

### Error log
No vi

[2018-12-19 20:32] bparhy commented on #160
@smtakeda I just had the same error while running this using python and aws lambda. Please let me know which version of driver has the fix for it for python?

[2018-12-20 02:05] smtakeda commented on #160
@bparhy https://pypi.org/project/snowflake-connector-python/ 1.6.10+ has the support. I would recommend you to use the latest one 1.7.4.

[2019-01-10 00:38] coolaj86 opened #209 "CustomJSONDecoder missing millions of rows"
### Issue description

I had performance issues (well, memory issues) with a database that had 5 million rows (memory usage ballooned to ~2GB), so I turned on `CustomJSONDecoderEnabled` and set `MaxChunkDownloadWorkers = 4` (not sure if that's a reasonable number or not).

Instead of getting 5 million rows back (`rows.Next()` from sqlx), I only got around 1.5 million.

### Example code

This is tw

[2019-01-10 01:05] mhseiden commented on #209
We have a bug fix to commit for this optimization. Will open a patch today or tomorrow 🙂

[2019-01-10 05:38] coolaj86 commented on #209
Many thanks!

[2019-01-14 22:54] #209 closed

[2019-01-15 21:42] coolaj86 opened #213 "release v1.1.16"
Copying from https://github.com/snowflakedb/gosnowflake/pull/210 to make an explicit issue

I'm very interested in the fix in https://github.com/snowflakedb/gosnowflake/pull/210, could you tag a release for v1.1.16?

~~I've been googling a little bit to see how put a commit hash into `go.mod` when tags exist but I'm not super clear on that yet.~~

I was able to shim v1.1.16 by referencing the comm

[2019-01-15 22:45] smtakeda commented on #213
Getting approval of the release. Stay tuned.

[2019-01-18 00:29] ryanking opened #214 "support link is broken"
### Issue description

The link in the README to snowflake support leads to a 404 page.

[2019-01-19 01:16] ChTimTsubasa commented on #214
Addressed

[2019-01-19 01:16] #214 closed

[2019-01-23 01:37] johnpena opened #215 "Building with go 1.11/go.mod yields "type jws.Claims has no field or method""
### Issue description
Creating a new project from scratch using go 1.11 and go modules yields the following build errors:
[code]

### Example code
I've recreated this problem in a very simple project called `snowflaketest` with these two files:

main.go:
[code]

go.mod:
[code]

Run `go build main.go` and the error arises.

### Configuration
*Driver version (or git SHA):* `1.1.15`

*Go version:*  `

[2019-01-23 17:54] ChTimTsubasa commented on #215
It looks like it is complaining about the [JOSE jwt](https://github.com/SermoDigital/jose) module, which is a dependency in snowflake for KeyPair authentication. We have not used go module before to resolve dependency and our choice is go dep.

Is it a must for your case to use go module?

[2019-01-24 02:22] johnpena commented on #215
Thanks for your response. Yes, this is a must for our applications, we can't change our dependency management for the sake of one dependency. Moreover, I'd expect more golang users will be using the go module system introduced in 1.11, as it's become the core standard for the language.

[2019-01-24 05:38] ChTimTsubasa commented on #215
@johnpena
A quick fix in your project to make it build is to change one line in your go.mod from
`github.com/SermoDigital/jose v0.9.1`
to
`github.com/SermoDigital/jose v0.9.2-0.20180104203859-803625baeddc`

I will create a PR to enforce dependency management by go mod on our end.

[2019-01-25 00:00] ChTimTsubasa opened #216 "Add support to Go Modules fo package management and maintain Deps"
### Issue description
We do not support go module and since our code includes some dead-repo such as glog and jws that do not support semantic versioning, go module cannot automatically detect the latest compatible versions and cause issues like #215 .

Dep would still be supported as alongside the modules if possible until modules is fully stable in all supported Golang versions, like 1.13 is rel

[2019-01-25 00:02] ChTimTsubasa commented on #215
Opened another issue to track the support for Go Modules.
@johnpena Let me know if the quick fix mentioned earlier fits your requirement so that I can close this one.

[2019-01-25 22:47] ankit-bhatnagar167 commented on #213
Version v1.1.16 is released.

[2019-01-25 22:47] #213 closed

[2019-01-28 18:34] #215 closed

[2019-02-01 11:46] vgrigoriu opened #217 "SNOW-176486 How to insert a map[string]string in a variant column?"
### Issue description

I'm trying to insert a Go `map` in a Snowflake column of type `VARIANT`. I get an error saying `failed to run query: sql: converting argument $2 type: unsupported type map[string]string, a map`.

### Example code
[code]

### Configuration
*Driver version (or git SHA):* latest

*Go version:* go1.10.1 darwin/amd64

*Server version:* 3.12.0

*Client OS:* macos

[2019-03-05 00:22] hasryan opened #219 "How can I use prepared statements / bind variables in an ALTER SESSION statement?"
### Issue description

I am attempting to set a session-level QUERY_TAG using the syntax described at https://docs.snowflake.net/manuals/sql-reference/sql/alter-session.html .  Part of my query tag may include values that are passed in from an external source.  For this reason I would like to ensure that I safely set the QUERY_TAG parameter without risking SQL injection.

I don't know if this is a

[2019-03-20 20:42] solderjs opened #223 "Performance: Writing a few million rows can take hours."
### Issue description

I'm writing ~200MB of data, about ~1MM rows in batches of 2500 and each batch seems to take forever.

Writing the whole set takes about 30 minutes.

I may just be doing something obviously stupid, but it seems like I should be able to do batches of 10,000+ and only have it take network time.

I also tried the naive approach of writing each row individually first. I know that

[2019-03-20 20:47] mhseiden commented on #223
@solderjs we saw issues like this as well, using `INSERT INTO`. We just switched to `COPY` statements and `snowpipe`, as the latency of those is significantly better for bulk / continuous loads.

[2019-03-22 17:17] solderjs commented on #223
Hmm... it looks like `COPY INTO` doesn't support https? That's unfortunate because I'm actually dealing with
https://docs.snowflake.net/manuals/sql-reference/sql/copy-into-table.html

And `snowpipe` requires preconfigured keypairs for API access, which is great, but unfortunately not something I can immediately add right now due to how other parts of the system I'm working with handle authenticati

[2019-03-22 17:43] howryu commented on #223
@solderjs In which part of the doc indicating snowflake did not support https? All network go through https. And `copy into` is just like all other sql commands.

[2019-03-23 01:07] ChTimTsubasa commented on #217
Hi @vgrigoriu , the error is thrown from https://golang.org/src/database/sql/driver/types.go line 281. Which means using DB interface does not support map type.

Besides that, we don't support binding VARIANT on the golang driver for now. You can directly send a query containing the variant if that match you needs. See https://docs.snowflake.net/manuals/sql-reference/data-types-semistructured.html

[2019-03-23 09:34] xoba opened #226 "SNOW-74472 too many errors like "no RowsAffected available after DDL statement""
when i execute ddl statements, such as `create database ...`, i get this error on executing [RowsAffected()](https://golang.org/pkg/database/sql/#Result) method on the result, but why? how about just returning zero (0) rows and a `nil` error?

even for a statement like `copy into ... from @...`, which actually does some work, requiring a running warehouse too, it still returns with the dreaded "no

[2019-03-27 22:48] solderjs commented on #223
@howryu The documentation enumerates s3://, azure:// and file://. It doesn't make any mention of https.

![Screen Shot 2019-03-27 at 4 47 50 PM](https://user-images.githubusercontent.com/122831/55117331-15b28d00-50b0-11e9-9cfc-a33014867e6d.png)

[2019-03-28 16:51] smtakeda commented on #223
@solderjs Snowflake enforces HTTPS to all internet communications including S3 and Azure.

[2019-03-28 16:52] solderjs commented on #223
@smtakeda I understand that, but that's a separate issue. I don't need S3 or Azure, I need bare, plain, https.

[2019-03-28 16:55] smtakeda commented on #223
`COPY` commands uses always HTTPS between stages and Snowflake. The stages are on S3 or Azure.

[2019-03-28 17:02] solderjs commented on #223
@smtakeda Right. What I'm saying is that I need a plain HTTPS stage where I give a file location url that the data will be fetched from. I need this:

[code]

[2019-03-28 17:03] smtakeda commented on #223
ah, I see. That's interesting... Well, this repo is for gosnowflake driver. can you please file a ticket to the support? `COPY` team should take care of it.

[2019-03-28 17:05] solderjs commented on #223
Will do. Thanks.

[2019-03-28 17:13] #223 closed

[2019-04-01 18:29] howryu commented on #219
This is currently not supported.

[2019-04-01 22:04] solderjs commented on #223
Would you mind pointing me to the support I should be contacting?

Also, for the sake of completeness, I did try:

[code]

which yielded

[code]

I also tried

[code]

which also didn't work.

The documentation is a bit confusing. Lot's of complex examples, but the simple ones don't seem to work as I expect.

[2019-04-01 22:43] solderjs opened #227 "Unsupported feature 'unsupported_requested_format:snowflake'."
### Issue description

I'm trying to follow the PUT documentation and I'm getting the above error. I'm not clear on whether the error is claiming that the Go client doesn't support CSV or if there's something else amiss.

https://docs.snowflake.net/manuals/sql-reference/sql/put.html

### Example code
[code]

### Error log
[code]

### Configuration
*Driver version (or git SHA):*

[code]

*Go versio

[2019-04-01 22:52] solderjs commented on #223
@mhseiden Could you show me an example of how you used `COPY INTO`? Everything that I've tried has resulted in various errors.

[2019-04-01 23:07] mhseiden commented on #223
TBH you're best bet is probably to contact Snowflake Support about this. We're using Snowpipe which requires quite a bit more setup than a `COPY INTO` statement.

[2019-04-01 23:30] howryu commented on #223
@solderjs We don't support `copy into t from @<url>`. Currently we support
1) copy from an internal stage. i.e. `copy into t from @<stage_name>` where `stage_name` is the stage you created by running `create stage my_stage` https://docs.snowflake.net/manuals/sql-reference/sql/create-stage.html
2) copy form an external url, `copy into t from 's3://<bucket_name>/<path>'`

In either case, load files

[2019-04-02 00:00] solderjs commented on #223
@howryu

1. That appears not to work. See https://github.com/snowflakedb/gosnowflake/issues/227
2. Because it's easy and it's fast. A webhook takes 2 seconds to set up, makes it dead simple to stream a file, and doesn't require copying a _whole_ file several times back and forth between cloud services. Right now we're dealing with small files that are only a few hundred MB, but our customer base i

[2019-04-02 00:15] solderjs commented on #223
Or are you saying that I can just use s3:// and point back to my own webhook that way?

If so, I totally missed that. I'm so used to services be locked into s3 (relying on it being that it didn't occur to me that I could just use `s3://example.com/foo.csv` and still get my webhook on my own server without actually having to implement any handshakes or specifics of the s3 protocol.

[2019-04-02 16:51] howryu commented on #223
I am not familiar with webhook. But you can uploading files to your s3 location using https url. ( https://wincent.com/wiki/HTTPS_access_to_Amazon_S3_buckets ) then run copy command.

Let's say you have a bucket called `testbucket`. You can upload file by accessing `https://testbucket.s3.amazonaws.com/<key>` and then you can run copy command by `copy into t from `s3://testbucket/<key>`

[2019-04-08 22:38] ChTimTsubasa commented on #226
For DDL statement, returning the no RowsAffected error is in the standard controlled by https://golang.org/src/database/sql/driver/driver.go [line 484].

For COPY command you are right. It is a DML statement and should not throw this error.

[2019-04-09 00:48] ChTimTsubasa commented on #227
Hi @solderjs

Sorry for the delay. This error is thrown because golang driver doesn't support PUT for now.

I traced back through #223 and the only work around now is to use the external stage way that @howryu mentioned:

We will put a higher priority on the development for PUT command support for Golang.

[2019-04-09 00:55] solderjs commented on #227
@ChTimTsubasa Thanks so much for getting back to me. What I did for now was buffer each stream to 25mb of validated csv, then shell out to snowsql to load the batch, and continue in a loop until the whole stream is done.

What would be absolutely best is if you would support a plain https GET. That would take nearly 0 effort on your part. All you have to do in your code is sidestep the azure / s3

[2019-04-09 01:04] ChTimTsubasa commented on #227
@solderjs Let me figure out your requirement, and please correct me if I am wrong: Basically it seems that you have some cvs files that you want to load into snowflake. What you are proposing is to have COPY command support https endpoint

[2019-04-09 01:09] ChTimTsubasa commented on #227
@solderjs Let me figure out your requirement, and please correct me if I am wrong:

It seems that you have some cvs files on the https endpoints you hosted and want to load into snowflake. What you are proposing is to have COPY command supports loading from https endpoints you created.

The way this could be potentially achieved is 1. to have your endpoint fake a response with a format that Azure/

[2019-04-09 01:11] ChTimTsubasa commented on #227
@solderjs Let me figure out your requirement, and please correct me if I am wrong:

It seems that you have some cvs files on the https endpoints you hosted and want to load into snowflake.
 You are trying/proposing two ways this could be potentially achieved:
1. To have your endpoint fake a response with a format that Azure/S3 would respond with.
2. To let snowflake support GET from a plain https

[2019-04-09 01:23] solderjs commented on #227
@ChTimTsubasa

Actually it's a csv stream - which is why using HTTPS is far better than PUT. From your point of view it's the same as if it were a file, but for me it means I don't have to store it to disk at all.

1. "Faking" Azure/S3 would be a little more complex but, yes, if you gave the minimal requirements for what you need implemented on my side, I could do it. An example showing any of a G

[2019-04-09 01:35] ChTimTsubasa commented on #227
Give a rough estimation about the data generation rate for the csv stream?

[2019-04-09 02:55] solderjs commented on #227
@ChTimTsubasa It's a streamed upload, so it's bounded by network speed.

Since I'm using Go the data will be piped in a way that applies back pressure. I won't upload it faster than we get it (obviously) and if we can't send it as fast as we can get, the TCP pipe will slow the window.

Most files are under 100mb, so it doesn't matter too much. Probably less than 5% of the files are over 100mb and

[2019-04-12 00:22] ChTimTsubasa commented on #227
@solderjs Faking S3 response would be hard since we piggyback on the S3 SDK on the server side to implement this and there are tons of optimization for COPY (to make it way faster than INSERT) which make the faking way even harder.

For now I would say the best way is still using s3 uploading to external stage and then use copy command to load from stage to Snowflake if you insist using Golang dri

[2019-04-12 02:00] solderjs commented on #227
@ChTimTsubasa I don't need anything from your end to support streaming. From your end I just need HTTPS for the ability to have you fetch a file - the same as is done with Azure and S3. That's "streaming enough".

The issue with S3 is more that I don't see anywhere in your API to specify the URL. It appears that it's hard-coded to use Amazon. There are many S3 clones available, like minio, which a

[2019-04-16 22:51] solderjs commented on #227
@ChTimTsubasa Could you expose `AWS_ENDPOINT` so ALL s3-compliant services work (minio s3, ibm s3, DigitalOcean, scaleway, etc)?

[2019-04-18 02:29] smtakeda commented on #227
@solderjs, according to COPY team, it appeared it is not easy add HTTP endpoint support. I'm forwarding the request to them anyway. Thanks for great input!

[2019-04-22 22:08] #219 closed

[2019-05-29 21:57] Veneciaaa opened #228 "Okta Authentication does not work"
### Issue description
Setting Authenticator in Config as per [Godoc instructions](https://godoc.org/github.com/snowflakedb/gosnowflake#hdr-Connection_Parameters): "To authenticate through Okta, specify https://<okta_account_name>.okta.com (URL prefix for Okta)." However, it is using default authentication instead of Okta authentication because it is comparing Authenticator directly to "OKTA" in a

[2019-06-13 22:22] ChTimTsubasa commented on #228
Close this Ticket as it is addressed in #233

[2019-06-13 22:22] #228 closed

[2019-07-04 07:07] aashakabragithub opened #242 "Need to know purpose of 'dep ensure' while "go get -u github.com/snowflakedb/gosnowflake""
### Issue description
I am running a standalone go code where I am connecting to snowflake and performing query on a table. Below are the steps that I performed -
1) go get -u github.com/snowflakedb/gosnowflake
2) run go code

It is working fine. So I am wondering what is purpose of 'dep ensure' for using snowflake go library? Is it really required?

Also, while referring to sample program under s

[2019-07-05 02:10] smtakeda commented on #242
@ChTimTsubasa please take a look.

[2019-07-08 17:44] ChTimTsubasa commented on #242
dep ensure is to install and verify the dependencies gosnowflake requires is available. In your case you don't need a `dep ensure` can fall into one of the 2 cases:
1. Your code base have the same dependency that gosnowflake requires.
2. Your dependency management tool automatically configure the dependency for gosnowflake.

The code snipped in select1 is to enable the glog for enabling logging. I

[2019-07-24 12:36] aashakabragithub opened #245 "Question - Need to know latest Go version support"
In README (https://github.com/snowflakedb/gosnowflake) it is mentioned, "The latest driver requires the Go language 1.11 or higher" whereas in CHANGELOG it is mentioned for "Version 1.1.18" to "Set the latest Go version to 1.12".

Our platform supports Go version 1.11.4, please suggest if latest snowflake go driver is compatible with the same.

[2019-07-24 15:39] smtakeda commented on #245
Yes, go 1.11.x is supported by the latest gosnowflake driver. See the test target versions.

[2019-07-24 15:40] #245 closed

[2019-07-26 18:57] angl opened #246 "Driver got stuck in a loop of session renewal and expiration"
### Issue description
A query sent through the driver got stuck in what seems to be a loop between session renewal and expiration. It has so far only happened once, so it's unclear how to reproduce it. I'm not sure it's a driver bug (could potentially be a server side bug), but the fact that the driver would get stuck in such a recursive pattern (see the attached backtrace) is worrisome.

### Exam

[2019-07-27 17:16] smtakeda commented on #246
We'll look into this, though, for transaction, https://golang.org/pkg/database/sql/#Conn.BeginTx should  be used to guarantee the same session is shared across the transaction.

[2019-08-05 20:42] patilpankaj212 opened #248 "Question - Encrypted key for keypair authentication"
Is encrypted key supported for keypair authentication?

When I used "https://github.com/snowflakedb/gosnowflake/blob/master/rsa-2048-private-key.p8.enc" for testing purpose using code here "https://github.com/snowflakedb/gosnowflake/blob/master/priv_key_test.go" I am getting below error:

asn1: structure error: tags don't match (16 vs {class:1 tag:19 length:97 isCompound:false}) {optional:false ex

[2019-08-05 22:09] smtakeda commented on #248
I don't think we support it today.
It would requires a passphrase parameter to decrypt a private key file.

[2019-08-06 06:55] patilpankaj212 commented on #248
Thanks @smtakeda. I found below issue on golang:

https://github.com/golang/go/issues/8860

It says that go doesn't have support for parsing encrypted PKCS8 private keys. I think this is the cause I got that error.

[2019-08-10 17:56] #248 closed

[2019-08-10 18:44] #242 closed

[2019-08-13 02:41] patilpankaj212 opened #251 "Question: Connection Validation"
I am using below code to create a DSN string:

func getDSN(snowflakeConn *Snowflake) (string, error) {
	cfg := &sf.Config{
		Account:   snowflakeConn.Account,
		User:      snowflakeConn.User,
		Password:  snowflakeConn.Password,
		Warehouse: snowflakeConn.Warehouse,
		Database:  snowflakeConn.Database,
		Schema:    snowflakeConn.Schema,
	}

	dsn, err := sf.DSN(cfg)
	return dsn, err
}

if I do a db

[2019-08-13 15:57] smtakeda commented on #251
The validation issue is a regression. v1.3.0 will have the fix.

Try `LoginTimeout` parameter in `Config`:
[code]

[2019-08-14 07:25] patilpankaj212 commented on #251
Thanks @smtakeda

[2019-08-14 14:20] patilpankaj212 opened #252 "Length is always '0' for TIME datatype"
I have a column in a table with TIME(5) type. While querying on the table I get ColumnType.length as 0.

<database/sql.ColumnType>
name:"T1"
hasNullable:true
hasLength:false
hasPrecisionScale:false
nullable:true
length:0
databaseType:"TIME"
precision:0
scale:0

Shouldn't the length be 5?

[2019-08-15 21:57] patilpankaj212 opened #253 "Cannot insert more than 16384 records in one insert statement"
I was trying to insert 50000 records in a single insert statement but I got below error:

001795 (42601): SQL compilation error: error line 1 at position 20
maximum number of expressions in a list exceeded, expected at most 16,384, got 50,000

Is this a limitation?

[2019-08-15 22:58] smtakeda commented on #253
Yes, that's a single statement limitation.
Snowflake supports array binding, but we have not figured out how it can fit into the Go sql interface yet.

[2019-08-16 04:16] patilpankaj212 commented on #253
Thanks @smtakeda

[2019-08-28 07:44] patilpankaj212 commented on #252
@mknister ,

I created a table z3 with one column of type TIME. [create or replace table z3 (t1 time(5))]. I ran query "select * from z3" and wanted to get the precision for the TIME datatype (which is 5 in this case), but I couldn't get that info. Below is the sample code I tried with.

func main() {
	dsn, err := getDSN()
	if err != nil {
		fmt.Println(err)
		return
	}

	db, err := sql.Open("snow

[2019-09-10 01:46] smtakeda commented on #246
Not reproducible in my end too, and also I've not seen this before even with other drivers.
@angl, if this happens again, please reach out the support to file a ticket and get the query ids for all queries/commands, which are available on UI. We'll find out which session failed to get renewed.

[2019-09-10 01:46] #246 closed

[2019-09-13 14:54] smtakeda commented on #219
This is a general binding issue and not specific to Golang driver. Please reach out the customer support to raise an enhancement request.

[2019-09-23 19:10] ChTimTsubasa commented on #252
@patilpankaj212 Hi. We are wondering what is the expected value for length of a TIME(5) type here? Is it going to be 5?

[2019-09-25 15:39] patilpankaj212 commented on #252
Hello @ChTimTsubasa,

Earlier I thought that I would get the precision of time datatype using the Length() function. Later I realized that it is only for text and binary types.

Thanks

[2019-09-25 16:10] mknister commented on #252
Hi @patilpankaj212, length is just for text and binary and scale also does not have a value in terms of time/timestamp values, but we are working on seeing if we can return the precision value for time/timestamp values. That should have a value of 5 for TIME(5). This change hasn't been released yet, but I'll keep you updated.

[2019-09-26 22:04] mknister commented on #252
Hi @patilpankaj212, in the next release, the precision value will be returned when ColumnTypes() is called.

[2019-09-26 22:04] #252 closed

[2019-09-27 18:35] relloyd commented on #205
This is an issue for me as well.  It prevents data, during migration from other RDBMS, from being compared reliably with Snowflake.

[2019-09-30 21:03] #251 closed

[2019-09-30 21:04] smtakeda commented on #226
As of today, `COPY` command doesn't return the affected number of rows. This requires the server side change.

[2019-10-14 20:42] alldoami opened #270 "us-west-2 default region"
When specifying a region, if the region you want is `us-west-2`, you don't want to specify it because it won't trigger the default code (where the default region is `us-west-2`).

Reference to the default code:
https://github.com/snowflakedb/gosnowflake/blob/52137ce8c32eaf93b0bd22fc5c7297beff339812/dsn.go#L61

[2019-10-21 20:48] kheraankit commented on #7
Do we know what release version this will be available?  We have several usecases waiting on this feature.

[2019-10-21 21:25] smtakeda commented on #7
Not in the short team plan. Can you please reach out the customer support or SE to raise the request?

[2019-11-14 19:40] kheraankit opened #273 "Null types: unsupported Scan, storing driver.Value type <nil> into type *time.Time"
### Issue description
Try to fetch a row from a table that has a TIMESTAMP_LTZ or other date/time column type and make sure the value in the table for that column is null.   Use the scan method to fetch the row and provide a *time.Time destination to scan the value of the column into.

What should happen?
Provide a NullTime type as provided by other drivers
What's happening?
unsupported Scan, stor

[2019-11-14 20:57] smtakeda commented on #273
Is this go1.13 new feature?

[2019-11-15 18:59] kheraankit commented on #273
The way I am trying to get around is by defining my own NullTime type but feel that the driver should provide this type and do the conversion etc... if needed.

[code]

[2019-11-16 02:30] smtakeda commented on #273
I'm a bit confused. `NullTime` is provided from Go 1.13, and other database started deprecating their own `NullTime`:
- https://github.com/go-sql-driver/mysql/issues/960
- https://github.com/lib/pq/issues/902
Why Snowflake needs to introduce it now?

In my understanding, `NullTime` was added to other drivers, because it didn't exist before. Now why not upgrading Go to 1.13? Do I miss something? Ca

[2019-11-24 09:58] xoba commented on #215
i also +1 this issue, but bring up another issue as well, perhaps even a more important one, that the jose/jwt project itself is actually abandoned, so better maybe to find another provider altogether? see https://github.com/SermoDigital/jose/issues/43.

[2019-11-25 05:44] #253 closed

[2019-11-25 05:46] smtakeda commented on #215
@xoba ok, filing a backlog for replacing jose.

[2019-11-25 09:14] xoba commented on #215
great, thanks @smtakeda, could perhaps trivially even just be one of the forks people created based on and mentioned in SermoDigital/jose#43, which would be drop-in replacements. or, maybe now's an opportunity to choose more generally again.

[2019-12-02 03:58] jayant42 commented on #49
Guys ,
sqlx is not working properly with snowflake go driver.
Select is not working.

[2020-01-15 18:51] Jeremyyang920 opened #278 "Add support to return QueryExecutionID from results."
### Issue description

We require the QueryExecutionID to come back from results.  I know that it comes with the python driver, but for business purposes we are bound to the go driver. Is there a way to allow the queryExecutionID to be returned?

[2020-01-17 22:25] veqryn opened #279 "Feature request: Mock, Fake, or Dev Docker image"
I would like to be able to run tests while offline, or in a CI environment that is offline.
I would also like to be able to develop locally on my laptop while offline.

For most other data stores, I am able to use a docker image in development and test/ci environments.  It isn't fast, but it doesn't need to be fast.

Does Snowflake have anything like this?
And if not, can it please be considered?

[2020-02-03 12:44] robbruce commented on #278
@Jeremyyang920 a very very hacky way to do it, not likely to be stable

[code]

I think the limitation is imposed by the database/sql package

[2020-02-03 13:53] robbruce opened #280 "Building with go 1.13/go.mod yields (type *gosnowflake.Config has no field or method DSN)"
### Issue description
Code should at least compile

### Example code

`main.go`

[code]

`go.mod` - original

[code]

`go.mod` - after running `go run main.go`

[code]

### Error log
[code]

### Configuration
*Driver version (or git SHA):*
1.3.4
*Go version:* run `go version` in your console
`go version go1.13 darwin/amd64`
also ran a clean version in docker image `golang:1.13.7-buster`
`go versio

[2020-02-03 14:09] robbruce commented on #280
Also tried adding to go.mod

[code]

[2020-02-04 14:14] robbruce commented on #280
My bad, was using the DSN function wrong, should have been

[code]

[2020-02-04 14:14] #280 closed

[2020-02-06 02:02] ehfeng opened #281 "Add statementTypeIDDdl"
### Issue description

statementTypeID do not include DDL id's. It would be useful to have the DDL id documented as well.

[code]

[2020-03-09 01:49] #278 closed

[2020-03-12 19:14] massousaC1 opened #287 "SNOW-144296: Multiple SQL statements in a single API call support"
### Issue description
Currently, multiple SQL statements are not possible in a single API call. This is true even for simplistic _first_ statements such as `SET PARAM = 5;` which don't lend themselves to being executed in separate API calls. We are aware work is being done to address this but haven't seen any comment regarding Go drivers. We are curious if the issue has been resolved in subsequent

[2020-04-20 21:41] sfc-gh-stakeda opened #292 "SNOW-153950: Rows.NextResultSet should return false at all times"
### Issue description
It appeared the implementation of `Rows.NextResultSet` is wrong. It should return true if the next result set exists, but instead, it returns true if the next chunk is available. That's the implementation detail.
Since today the golang driver doesn't support the multiple statement/result set, it should always return `false`

### Example code
https://github.com/snowflakedb/gos

[2020-05-04 16:41] sfc-gh-stakeda commented on #205
Planning to fix this as part of ARROW result format support. ETA is by the end of July.

[2020-05-13 20:08] sfc-gh-afedorov opened #296 "SNOW-160517: Async support for noResult"
The context is —

Code has a todo to handle noResult [here](https://github.com/snowflakedb/gosnowflake/blob/1605e50f6382eea57ec3fd3d66fcbd31604548df/connection.go#L208).
Also requested on [Stack Overflow](https://stackoverflow.com/questions/59275368/asynchronous-cursor-execution-in-snowflake-using-golang).
Also requested by customer in [SNOW-160505](https://snowflakecomputing.atlassian.net/browse/

[2020-05-18 15:44] rleighton commented on #296
I would love to get this prioritized.

[2020-05-19 09:26] henryx opened #302 "SNOW-161723: Add example to authenticate via private key"
I've searched in entire repository, but I haven't founded an example to estabilish a keypair authentication to Snowflake. Is it possible to add a simple example to do it?

[2020-05-19 14:47] #216 closed

[2020-06-02 01:43] sfc-gh-jbahk commented on #270
Hi, thank you for bringing this to our attention. We’ll do our best to fix it by our next release. Please note that the `region` parameter is deprecated and we will drop support of it in the near future.

[2020-06-02 01:43] #270 closed

[2020-06-02 06:53] dolmen commented on #273
@kheraankit Could you check @smtakeda 's answer and close this issue?

[2020-06-02 17:45] #273 closed

[2020-06-18 15:41] sfc-gh-stakeda commented on #227
A message from the data pipeline team.

For further discussion, please reach out the support team to raise a ticket. Thanks.

[2020-06-18 15:41] #227 closed

[2020-08-18 20:03] parna123 commented on #205
We are hitting this issue as well. Any update on the timeline for the fix?

[2020-08-31 17:17] slotrans commented on #302
Is private key auth even supported?

[2020-08-31 20:55] ryantxu opened #329 "SNOW-188697: Add ability to set client info (or reuse app info)"
### Issue description
It would be great to control what shows up in the Client with more fidelity than "Go 1.3.8"  (especialy since I am running in go 1.4.1!

![image](https://user-images.githubusercontent.com/705951/91767461-054dee00-eb91-11ea-9956-1c9b0e98a72e.png)
### Example code
I have also tried chaning the applicaiton name in config... but that does not change anything either

[code]

[2020-09-08 17:27] sfc-gh-jbahk commented on #287
Hi @massousaC1, this feature is now available as per v1.3.8/

[2020-09-08 17:27] #287 closed

[2020-09-08 17:29] sfc-gh-jbahk commented on #292
This bug has been fixed in both single statement and multistatement queries as per v1.3.8

[2020-09-08 17:29] #292 closed

[2020-09-09 16:33] sfc-gh-jbahk commented on #158
This feature will be supported as per v1.3.9

[2020-09-09 16:33] #158 closed

[2020-09-23 18:43] sfc-gh-mkeller opened #336 "SNOW-198833: test"
test

[2020-09-23 18:44] #336 closed

[2020-11-11 03:39] fs-ses-junya-wako commented on #296
I really need this function. Please get this prioritized.

[2020-11-12 08:40] lev112 opened #348 "TIMESTAMP_LTZ should be converted to time.Time based on the session TIMEZONE"
### Issue description
according the documentation [(here):](https://docs.snowflake.com/en/sql-reference/data-types-datetime.html#timestamp-ltz-timestamp-ntz-timestamp-tz)

but in the code, `time.Unix` is used to parse the time: https://github.com/snowflakedb/gosnowflake/blob/master/converter.go#L205
and internally it will apply the timezone of the local machine.

IMHO, the correct behaviour should

[2020-11-20 00:21] kanata2 opened #352 "SNOW-227433: Does not work bind variables"
### Issue description
The gosnowflake module(or/and Snowflake) seems not to be able to handle bind variables properly.

According to docs, it is not stated whether gosnowflake supports it or not.
If this behavior is specification of gosnowflake, I want to request as new feature.

### Example code
[code]
(The latter case raise a compile error. Error code is `002409(42601)`.)

### Configuration
*Dri

[2020-12-02 21:02] veqryn opened #355 "SNOW-232720: panic: send on closed channel goroutine gosnowflake/rows.go:379"
### Issue description
[code]

### Example code
We were running a simple select statement:
[code]

This select statement has been run successfully many many times, and we only have 1 panic in our logs.

### Configuration
*Driver version:* github.com/snowflakedb/gosnowflake v1.3.6

*Go version:* 1.14

*Server version:* 4.39.7

*Client OS:* dockerized linux, on a linux host

[2020-12-08 07:26] veqryn commented on #355
Got it again a few more times.

[code]

[2020-12-10 01:05] kanata2 commented on #352
Sorry, I checked again and it works fine.
I don't know why it didn't work, but I'm going to close it.

[2020-12-10 01:05] #352 closed

[2020-12-10 01:34] sfc-gh-jbahk commented on #355
@veqryn Although I am unable to directly reproduce this error, I believe this has been addressed by the 1.3.9 release of this driver (although at the current time of writing, the newest release is 1.3.12). Would you consider upgrading your driver and letting me know?

[2020-12-10 08:53] veqryn commented on #355
I can confirm I still receive this error with version v1.3.11 of the snowflake driver.

[2020-12-10 20:04] sfc-gh-jbahk commented on #329
@ryantxu I believe the Client Info presented there is not the Golang version you have, but rather the driver version you are using

[2020-12-10 20:05] sfc-gh-jbahk commented on #329
Is there a specific use case as to why you'd need to modify client information?

[2021-01-08 18:05] adatzer opened #365 "SNOW-257769: Support processing multi-column result set in multi statement execution"
### Issue description
What happens:
Selecting more than one column in a multi-statement query, executing with `db.QueryContext()` and processing the result sets,  gives `panic: runtime error: index out of range [1] with length 1`.
Also, `rows.Columns()` gives only `[multiple statement execution]` in all result sets.

What should happen:
Ideally, process the multiple result sets as with a single st

[2021-01-28 23:40] sfc-gh-jbahk commented on #296
This will be available as per Golang driver version v1.3.14

[2021-01-28 23:40] #296 closed

[2021-01-29 16:18] tjdavis3 opened #373 "SNOW-274063: QueryRowContext an QueryContext hang when use with WithRequestID"
### Issue description
Query should run using the passed Query ID.  If QueryRowContext is run with a context.Background() it works fine.  However, if run with the WithRequestID context it hangs on the query.

### Example code
[code]

### Error log
Hangs at query

### Configuration
*Driver version (or git SHA):* v1.3.13

*Go version:* go version go1.15.2 darwin/amd64

*Server version:* 5.2.2

*Clien

[2021-02-02 23:09] sfc-gh-dwu commented on #373
If the request ID is instead of UUID format, does your query still get stuck?
For example, instead of `123-456-6655`, if the request ID given were proper UUIDs `7c52678a-65ab-11eb-ae93-0242ac130002`?

I think there is still a bug here with how we are propagating the query error, if the request ID is malformed, then `row.Err()` should be non-nil vs being hung indefinitely.

[2021-02-03 00:58] sfc-gh-dwu commented on #373
Reproduced the error, the hang is due to the http retry logic kicking in even for HTTP_400 status return code, so it's stuck retrying a bad request (due to the request ID needing to be a valid UUID)

[2021-02-03 02:59] tjdavis3 commented on #373
I did confirm that using a UUID does allow the call to work.  However, snowflake does not appear to be using it as the query ID.  My use case is to determine the QueryID so that I can use the caching functionality.  Since the resulting queryID is not exported I was attempting to preset the query ID, which is what I thought this meant in the docs:

[2021-02-03 03:03] sfc-gh-dwu commented on #373
The Query ID is different from the user-specified Request ID.
The Request ID is really only used for logging and auditing purposes.
The query id that you are referring to is our internal system generated identifier for the job and can't be overridden by the caller.

[2021-02-03 13:51] tjdavis3 commented on #373
Any chance of getting the QueryID exported?  I see it in the response and rows structs, but I cannot find a way to retrieve it other than issuing another query for last_query_id() which seems inefficient.

[2021-02-09 23:54] #329 closed

[2021-02-10 23:28] sfc-gh-jbahk commented on #365
@adatzer This has been addressed and will be available on the next release, v1.4.1.

[2021-02-10 23:28] #365 closed

[2021-02-11 06:30] adatzer commented on #365
Thank you very much

[2021-02-18 22:02] ralfbecher commented on #373
Maybe snowflakeRows could expose queryID..

[2021-02-19 17:13] lfalkner commented on #279
Did you find any solution to this? I'm looking for the same, but for node :)

[2021-02-20 06:07] veqryn commented on #279
depending on how complex your queries are you could use a Postgres for MySQL container in Dev to mock out snowflake.

[2021-02-26 10:43] mysticmode commented on #373
I'm wondering, what is the purpose of this [PR - Emit Query ID](https://github.com/snowflakedb/gosnowflake/pull/370) since it gets merged.

I suppose, the issue is that the `*snowflakeRows` is not exported in [query.go](https://github.com/snowflakedb/gosnowflake/blob/master/query.go#L81) hence we are facing this issue where the Query ID is not getting exposed.

[2021-02-26 12:51] mysticmode commented on #373
I was wrong in saying that the `*snowflakeRows` should be exported. I checked the master branch of this repository and the query ID gets emitted correctly when I use `WithQueryIDChan()` via `AsyncMode()`.

[2021-02-26 23:53] sfc-gh-jbahk commented on #373
Hi @tjdavis3 and @ralfbecher , as @mysticmode points out, as per the Golang release v1.4.1, you can use `WithQueryIDChan` to retrieve the query ID before the completion of the query.

[2021-02-27 10:22] ralfbecher commented on #373
Thanks, did you meant as per the gosnowflake release v1.4.1?

[2021-02-28 05:15] sfc-gh-jbahk commented on #373
@ralfbecher yes, that is correct

[2021-03-02 12:45] #373 closed

[2021-03-02 21:26] burningalchemist opened #390 "SNOW-294718: ocsp_response_cache.json error on import if file doesn't exist"
### Issue description

Hello,

If `ocsp_response_cache.json` doesn't previously exist, the driver responds with
[code]

The error appears on the package import, and though is not fatal, still creates some worries on the user experience side. It's likely comes from oscp.go initOCSPCache() call ([link](https://github.com/snowflakedb/gosnowflake/blob/master/ocsp.go#L928)).
I'm using multiple drivers

[2021-03-03 20:37] bradleyankrom commented on #390
I had the same experience today when trying to run a compiled binary on Ubuntu 16.04.

[2021-03-09 18:18] sfc-gh-jbahk commented on #390
This fix has been merged and will be available in the next release. Thank you for bringing this to our attention.

[2021-03-09 18:18] #390 closed

[2021-03-18 10:29] sfc-gh-turbaszek opened #402 "Use pre-commit for assuring code quality"
### Issue description
 Consider using pre-commit for code formatting and linting so reviewers can focus on code logic not on code quality.
Fore example here https://github.com/snowflakedb/gosnowflake/pull/379#pullrequestreview-611873631 was a lot of comment about code quality that could be automatically enforced and checked on CI.

This can be done using pre-commit framework:
https://pre-commit.co

[2021-03-18 10:30] sfc-gh-turbaszek commented on #402
WDYT @sfc-gh-jbahk ?

[2021-03-18 23:07] sfc-gh-jbahk commented on #402
@sfc-gh-turbaszek agreed, though at the moment there are some expectations in running `go fmt` and `make lint` which the format/linting is done automatically (the lint is detected on GitHub actions before you can even merge to master).

[2021-03-19 17:26] lyuboxa commented on #302
This is supported but relatively confusing. The documentation here https://docs.snowflake.com/en/user-guide/key-pair-auth.html explains how to get the keys setup for the user.

In this driver, the URL for priv/pub auth will need `authenticator=SNOWFLAKE_JWT&privateKey=<key>`  appended as parameters to the url, e.g. `user[:password]@account/db?authenticator=SNOWFLAKE_JWT&privateKey=<key>`. Because

[2021-03-20 12:33] rleighton opened #403 "SNOW-302103: Disabling OCSP cache does not stop noisy logging"
### Issue description
When SF_OCSP_RESPONSE_CACHE_SERVER_ENABLED is `false` the driver still logs output for failed actions.

### Error log
![image](https://user-images.githubusercontent.com/18419762/111869701-f2e1a900-8956-11eb-9f3f-396e506c36f9.png)

[2021-05-07 20:05] westernspion opened #419 "SNOW-354479: Snowflake sessionId should be explicitly int64"
https://github.com/snowflakedb/gosnowflake/blob/master/auth.go#L179

Should be explicitly set to an int64 since snowflake returns session IDs outside int32 bit range.

When compiled for 32bit systems, this is an issue.
`cannot unmarshal number 223909539689206 into Go struct field authResponseMain.data.sessionId of type int`

[2021-05-10 21:21] sfc-gh-jbahk commented on #419
@westernspion this has been addressed and will be available in the next release.

[2021-05-10 21:21] #419 closed

[2021-05-11 18:09] sfc-gh-jbahk commented on #205
Hi, @divagant-martian, @relloyd , @parna123, ARROW support has been live for a while. If you are interested in trying this out, please refer to our repo's documentation. This should not only fix this issue but according to our metrics, provide a 4-5x faster average query time.

[2021-05-12 10:28] sfc-gh-turbaszek commented on #402
@sfc-gh-jbahk not sure about issue workflow in this project but I don't see this issue being addressed. It's a feature request that can be addressed in future and probably a good candidate for good first issue. This if I'm not mistaken is an open source project and having such issues is crucial to grow community, unless that's not we aim for.

[2021-05-12 17:23] serbantanasa commented on #403
It would be nice if this got fixed.

[2021-05-13 15:19] prochac opened #428 "SNOW-357277: Outdated changelog"
Please update changelog, or delete it.
The current state doesn't look professionally.
It's untouched for two years and the value equals zero.

https://github.com/snowflakedb/gosnowflake/blob/master/CHANGELOG.md

[2021-05-14 12:03] tobier commented on #302
@lyuboxa How would you do this with an encrypted private key? Do you decrypt it at the client side?

[2021-05-15 17:08] burningalchemist opened #429 "Wrong version displayed"
### Issue description

Hi, I suddenly noticed that the version of the client library is incorrect:

<img width="491" alt="image" src="https://user-images.githubusercontent.com/18210256/118372167-7c58d480-b5b0-11eb-9de6-b3eb302c37b1.png">

[code]

At the same time files are different from the tagged `v1.4.2` release:
[code]

So I assume that it's still v1.4.3 with a previous `version.go`, but there

[2021-05-18 16:42] lyuboxa commented on #302
You can decrypt the key and pass it to the driver, the key itself is used for signing the JWT token. You can look here for some guidance https://github.com/snowflakedb/gosnowflake/blob/master/priv_key_test.go

[2021-05-20 17:52] sfc-gh-jbahk commented on #281
Hi @ehfeng could you provide a use case of having this?

[2021-05-20 19:03] sfc-gh-jbahk commented on #428
Thank you for bringing this to our attention. We've removed the changelog; please refer to https://github.com/snowflakedb/gosnowflake/releases which delineates release notes per version.

[2021-05-20 19:03] #428 closed

[2021-05-25 14:10] tobier commented on #403
Need this to be fixed, slowly filling up logs when using gosnowflake in a periodical service.

[2021-06-08 01:44] sfc-gh-jbahk commented on #7
PUT for AWS S3 is supported as per v1.4.3; Azure/GCS per the next release, v1.5.1

[2021-07-05 06:29] shubham00jain opened #450 "SNOW-378801: Getting 0/1 instead of true/false when querying on a column of boolean type"
### Issue description
When I query I get 0/1 instead of true/false in boolean type column.
Expectation : should get true/false instead.

### Configuration
*Go version:* go1.16.5
*Server version:* 5.25.0
*Client OS:* macOS 11.2.3

[2021-07-08 02:46] sfc-gh-jbahk commented on #450
Can you provide an example? I'm unable to reproduce.

[2021-07-12 13:11] shubham00jain commented on #450
Sorry my bad. Problem is solved now. Closing the issue.

[2021-07-12 13:11] #450 closed

[2021-07-23 18:21] dhan-yext opened #456 "SNOW-403403: runtime error: invalid memory address or nil pointer dereference when inserting into a temporary table via Array"
### Issue description
We're trying to insert batches of 1 million uuids into a temporary table via Array. The first batch successfully inserts, but upon calling ExecContext to insert the second, we get the following error:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x458 pc=0x191954b]

Right before the panic occurs

[2021-07-27 20:04] sfc-gh-jbahk commented on #456
@dhan-yext Hello, I've been able to reproduce this but it's a little unclear why you've inserted the same array 3 times. The insertion is successful on my end on the first loop. Could you provide more details? Thanks.

[2021-07-27 20:07] sfc-gh-jbahk commented on #456
Actually, I see that was the intended behavior in the first place. I will keep this thread open and circle back with updates - thanks.

[2021-08-03 19:50] sfc-gh-jbahk commented on #403
This has been addressed and will be available in the next release. Thank you.

[2021-08-06 15:40] serbantanasa opened #463 "Non-blocking polls for status of query"
### Issue description
We use AWS lambda functions to implement an async query interface. Roughly the flow is:

1. make async query, return query id to client
2. client polls for status of query using query id
3. when done, client uses query id to get results/errors

Currently, the only way to check (non-blocking) for completion using the go driver is to issue repeated sql queries against informati

[2021-08-06 16:30] sfc-gh-jbahk commented on #456
@dhan-yext We are working on this issue and will provide an update soon.

[2021-08-09 21:17] sfc-gh-jbahk commented on #456
@dhan-yext This has been addressed, fixed and merged. It will be available in the next release. Thank you.

[2021-08-17 18:18] sfc-gh-jbahk commented on #205
This has been addressed and is available starting Go v1.6.0. Thank you.

[2021-08-17 19:41] sfc-gh-jbahk commented on #7
Closing this as GET also supported as per v1.6.1.

[2021-08-17 19:41] #7 closed

[2021-08-17 19:42] #456 closed

[2021-08-17 19:43] #403 closed

[2021-08-23 15:46] dhan-yext opened #470 "User character length limit (64) exceeded by string ''"
### Issue description
I'm attempting to insert a slice of uuids into a temporary table in Snowflake. The table has a column for uuids: UUID
VARCHAR(64) NOT NULL. When I try to insert a particular slice of uuids into a temporary table, I get an error about the string '' exceeding the 64 character length limit. Before inserting a uuid into the slice, I'm checking that its length is 64 characters or

[2021-08-23 23:12] sfc-gh-jbahk commented on #463
This has been addressed and merged. It will be available in the next release.

[2021-08-23 23:12] #463 closed

[2021-08-23 23:15] serbantanasa commented on #463
Thank you!

[2021-09-14 01:02] rleighton opened #476 "Panic in QueryStatus() Release 1.6.3 when SQL has a Syntax Error"
### Issue description
Any SQL with a syntax error (e.g,  `select from where`) will cause a panic in `QueryStatus()` in Release 1.63

### Error log
[code]

### The Fix
This line:  https://github.com/snowflakedb/gosnowflake/blob/0cd53b222516a3c6265569049f852fe7b330fee6/monitoring.go#L84

Should be: `ErrorCode int `json:"errorCode,string"`

[2021-09-14 19:34] craigpg opened #477 "Question: When to enable KeepSessionAlive config setting?"
### Question
Would appreciate some guidance on which use case(s) one would want to set `KeepSessionAlive` to `true`, especially since this setting is separate from, and seemingly unrelated to, the `client_keep_session_alive` param which controls the heartbeat.

I see that it prevents closing the session when the connection is closed, but unsure of the circumstances where this would be necessary.

[2021-09-16 03:12] tampajohn opened #478 "PUT appends empty bytes to the end of files"
### Issue description
When executing a PUT on a parquet file (83620KB)  32KB of 0x00 bytes are written to the end of the file.  This causes issues with parquet as it's expecting parquet's magic bytes footer.

### Tell us what should happen and what happens instead

### Example code

[code]

### Error log
No errors on PUT

### Configuration
*Driver version (or git SHA):* v1.6.1

*Go version:* go1.1

[2021-09-16 03:26] tampajohn commented on #478
This doesn't seem to happen always, but it does occur with various file sizes.

[2021-09-16 20:45] rleighton commented on #476
The fix above applied here: github.com/rleighton/gosnowflake-1.62-patch v1.6.2-patch

[2021-09-20 20:13] sfc-gh-jbahk commented on #477
Hi @craigpg, this is an internal parameter which is used when you want to be able to close the sql.db object and release its resources but not actually call .Close() so that the Snowflake session is not alive. We have purposely not documented this as it's an internal parameter and don't see a use case for most Go driver users. Please let me know if you have additional questions.

[2021-09-20 22:26] jgraettinger commented on #478
Seeing this as well with PUT JSON files, every attempt thus far. Example query:

`PUT file:///tmp/82e2839d-3ffd-40da-ab0f-23abedec2c5b @flow_v1 AUTO_COMPRESS=FALSE SOURCE_COMPRESSION=NONE OVERWRITE=TRUE ;`

[2021-09-21 23:20] rleighton opened #479 "Panic in QueryStatus() Release 1.62 when sc.checkQueryStatus(ctx, queryID) returns error (sometimes)"
### Issue description
When  `QueryStatus() ` it unconditionally deferences `queryRet` which can be nil

See: https://github.com/snowflakedb/gosnowflake/blob/master/connection.go#L438

###  The fix:
[code]

[2021-09-29 20:46] #477 closed

[2021-09-29 23:39] sfc-gh-jbahk commented on #478
Investigating this. Will update soon.

[2021-10-04 21:30] popsu opened #481 "v1.4.3 has incorrect checksum in sum.golang.org"
### Issue description

Just notifying here in case someone else had similar issue.

We got a dependabot PR bumping some versions and it had an incorrect hash in `go.sum` for gosnowflake@v1.4.3. Seems like it's related to https://github.com/snowflakedb/gosnowflake/issues/429 and the tag got moved after that fix.

We fixed the incorrect hash by just checking out the PR, deleting `go.sum` file and ra

[2021-10-12 23:09] sfc-gh-jbahk commented on #478
This has been addressed and merged. It is available in the newest release. @tampajohn @jgraettinger

[2021-10-12 23:09] sfc-gh-jbahk commented on #479
This has been fixed and released. Thank you for bring this up.

[2021-10-14 18:22] sfc-gh-pkommini opened #486 "Connection caching like in the python driver"
### Issue description
Hi Team,

We use the terraform [snowflake provider](https://github.com/chanzuckerberg/terraform-provider-snowflake) implemented by CZI and it's pretty much unusable with `browser_auth` due to every `terraform plan` and `terraform apply` creating a new browser tab for authentication.

This issue is due to the underlying dependency on the gosnowflake module which doesn't cache

[2021-10-26 10:55] triddin opened #487 "No way to create an Array() of []Time with timestampTzType constants for bulk inserts with time fields."
### Issue description
Should be able to use bulk insert with array of `time.Time`, however the constants like `timestampLtzType` etc are private and we cannot create a bulk-compatible array.

Without specifying the `snowflakeType`, the input `[]Time` is returned which isn't bound to bulk inserts.

### Example code
[code]

### Configuration
*Driver version (or git SHA):* v1.6.3

*Go version:* go ve

[2021-11-01 21:17] mrduncan opened #489 "Panic when `DisableTelemetry` is set to `true`"
### Issue description

`enabled` is being set to `false` on `sc.telemetry` before it is initialized: https://github.com/snowflakedb/gosnowflake/blob/v1.6.3/connection.go#L664

### Example code
[code]

### Error log
[code]

### Configuration
*Driver version (or git SHA):* v1.6.3

*Go version:* go version go1.17.2 darwin/amd64

*Client OS:* macOS

[2021-11-08 20:30] sfc-gh-jbahk commented on #470
Closing this as stale. We believe the issue to be fixed - please re-open if needed.

[2021-11-08 20:30] #470 closed

[2021-11-08 20:35] sfc-gh-jbahk commented on #489
Hi, can you raise a ticket with our support team? Thank you.

[2021-11-08 20:35] sfc-gh-jbahk commented on #487
Hi, can you raise a ticket with our support team? Thank you.

[2021-11-08 21:22] mrduncan commented on #489
Unfortunately the only account I have access to is self-service which isn't being given access to the support portal.

[2021-11-08 23:46] sfc-gh-jbahk commented on #489
This has been addressed and will be available in the next release.

[2021-11-08 23:46] #489 closed

[2021-11-16 19:12] sfc-gh-jbahk commented on #487
recreate jira

[2021-11-17 00:43] calvn opened #498 "Update github.com/pkg/browser to 681adbf594b8 or newer"
### Issue description
The current imported version of `github.com/pkg/browser v0.0.0-20210706143420-7d21f8c997e2` cannot be properly compiled for operating systems that are browser-unsupported (but should still be buildable) by `pkg/browser` due to a [declared but unused import](https://github.com/pkg/browser/blob/7d21f8c997e2ac35feaafc77d6078f606cfbe149/browser_unsupported.go#L7) in that particul

[2021-11-19 02:28] sfc-gh-jbahk commented on #481
Thank you for bringing this up. Unfortunately v1.4.3 has already been released and the check sum isn't something we can change after the fact. We will be more mindful of this moving forward.

[2021-11-19 02:28] #481 closed

[2021-11-19 02:30] sfc-gh-jbahk commented on #498
Thank you for your concern. We've merged https://github.com/snowflakedb/gosnowflake/pull/508. Please find the updated version in the next release.

[2021-11-19 02:30] #498 closed

[2021-12-08 12:26] YikSanChan commented on #205
@sfc-gh-jbahk

I don't think the issue has been fixed. I am using Go v1.6.4, and I can easily reproduce the issue by tweaking the `select1` [code](https://github.com/snowflakedb/gosnowflake/blob/178128cee665edc489e4e2e6c5c0806225795b3e/cmd/select1/select1.go#L75) a bit.

before tweak
[code]

after tweak
[code]

What print out:

[code]

So, `Scan` still produces string when the destination is `inte

[2021-12-09 05:14] YikSanChan opened #513 "SNOW-516933: Scan still produces string when the destination is interface{} even after v1.6.0"
### Issue description

Scan produced string when the destination is interface{}, see https://github.com/snowflakedb/gosnowflake/issues/205

According to @sfc-gh-jbahk in https://github.com/snowflakedb/gosnowflake/issues/205#issuecomment-900526978, the issue has been resolved after v1.6.0, as gosnowflake uses arrow by default and the parsing logic has been fixed in arrow, see code https://github.co

[2021-12-09 18:22] sfc-gh-jbahk commented on #487
This has been addressed and merged. It will be available with the next release.

[2021-12-09 18:22] #487 closed

[2021-12-09 18:43] sfc-gh-jbahk commented on #513
Hello @YikSanChan, this is because a select 1 query where you supply the expected result (as opposed to a normal query of the table) returns a JSON format result and thus a string within its interface. You are expected to get a typed variable if you use an interface{} with a regular query.

[2021-12-13 17:49] #513 closed

[2021-12-21 16:31] YikSanChan opened #517 "SNOW-521243: Scan still produces string when the destination is interface{} even after v1.6.0"
### Issue description

Scan still produces string when the destination is interface{} at v1.6.5. I open the issue because https://github.com/snowflakedb/gosnowflake/issues/513 is not really resolved. @sfc-gh-jbahk Can you help take a look?

### Example code

Check this out https://github.com/YikSanChan/gosnowflake-bug-reproduce.

[code]

custkey, for example, should be integer rather than string,

[2021-12-22 02:44] sfc-gh-jbahk commented on #517
Can you run the .Scan() on the destination of interface{} type?

[2021-12-22 03:01] YikSanChan commented on #517
@sfc-gh-jbahk thanks! I update my code https://github.com/YikSanChan/gosnowflake-bug-reproduce/commit/f2660bec1ec2110b3bfa505a2b0f177e11e92f42, then rerun, it still produces the same result - all strings.

[code]

[2022-01-06 09:09] YikSanChan commented on #517
@sfc-gh-jbahk hi can you help take a second look? thx!

[2022-01-07 13:21] aashakabra opened #520 "SNOW-524462: How can I use insert with prepared statement (without select statement) for VARIANT datatype?"
### Issue description
I am trying to insert a json data ({"key": "value"})in variant column with prepared statement (without using select statement).

Below is the insert statement that I am trying to execute:
`insert into variantdata (ID, V) values (?, ?);`

what is the expected parameter to be set for parameter 2 i.e. so that I am able to insert above json data as variant column.

Note :
When I

[2022-01-10 22:27] sfc-gh-jbahk commented on #520
Hello @aashakabra, currently the Go driver does not support VARIANT binding. It is in the backlog but we are addressing some other priorities at the moment.

[2022-01-11 23:39] mrduncan opened #523 "SNOW-526255: Incorrect `time.Time` values when enabling `WithHigherPrecision`"
### Issue description

When using `WithHigherPrecision` on `TIME(5)`, `TIME(6)`, `TIME(7)`, and `TIME(8)` columns, the scanned values are incorrect.

I was able to repro with the following setup:

[code]
[code]

It looks like the issue is probably due to the missing scale handling in the int64 case here:
- int32 (works correctly): https://github.com/snowflakedb/gosnowflake/blob/v1.6.5/converter.go

[2022-01-11 23:49] mrduncan commented on #523
Happy to open up a separate issue for this, but I'm also seeing similarly incorrect `TIMESTAMP_NTZ` values for cases where the precision isn't `9`:

[code]

These values are scanned as:

[code]

[2022-01-12 16:00] colmsnowplow opened #524 "SNOW-526565: `ExecContext()` returns seemingly empty error: `-00001:`"
### Issue description
Long-running DML statements occasionally return an error which seems to have an empty message, whereby the `error.Error()` provides only `-00001:`.

I've encountered this several times for two production jobs, but as yet haven't managed to reproduce locally (once I do I'll update here with more specifics).

This seems to occur for long-running statements that fail after ~90 m

[2022-01-18 00:15] sfc-gh-jbahk commented on #517
@YikSanChan please use the WithHigherPrecision method (details found here: https://github.com/snowflakedb/gosnowflake/blob/master/doc.go#L227-L229).

[2022-01-18 01:50] YikSanChan commented on #517
@sfc-gh-jbahk That works, thank you.

[2022-01-18 01:50] #517 closed

[2022-01-18 17:16] sfc-gh-jbahk commented on #524
Hi @colmsnowplow, thank you for opening this issue. We are looking into this. In the meantime, would you be able to provide any logs/query IDs as well as the version of the driver, etc any other relevant specs that would aid this investigation? Thanks.

[2022-01-18 17:28] colmsnowplow commented on #524
Hi @sfc-gh-jbahk,

I can't get the query ID unfortunately as my app just submits to a job in the customer account which I don't have access to - I've asked them for it so if they provide it I'll pass it on. I have opened a ticket with Snowflake Support and based on what they told me it seems unlikely to be coming from the database.

I encountered the issue on v1.4.3 - I've been unable to reproduce

[2022-01-18 21:02] #520 closed

[2022-01-18 23:01] sfc-gh-jbahk commented on #173
recreate jira

[2022-01-19 11:47] colmsnowplow commented on #524
Hi @sfc-gh-jbahk ,

Having reflected on this issue, I'd like to try to articulate what I think would be most helpful for me at the moment. I'm not sure whether this is unexpected behaviour from the driver, or just expected behaviour that I don't fully understand. I'm hoping you might help me understand how to handle the case either way.

The code [explicitly handles](https://github.com/snowflakedb

[2022-01-19 18:29] sfc-gh-jbahk commented on #524
Hi @colmsnowplow, thank you for bringing this up. Indeed I can't think of a specific instance off the top of my head where the data.Code is nil but also is recognized as a successful request - I would assume, yes, for an unsuccessful request to come with a specific error code of its own.

The error thrown would be from the ensuing data.Success check, at which point all the relevant information (me

[2022-01-19 18:32] sfc-gh-jbahk commented on #524
A hot fix that I can think of is pre-populate the fields that would be returned to the user with a generic error message/SQL state (as is done with the code) and replace them with the actual information returned by the server so you'd receive something other than just "-0001".

[2022-01-20 12:10] colmsnowplow commented on #524
Thanks for the response @sfc-gh-jbahk.

I appreciate that without a repro it's hard to know where to take this, your input so far has been helpful in thinking through it and trying to reproduce. I could indeed replace the error with something more readable, however I'm more concerned with addressing the customers' pain, which is the fact that their sql jobs are failing.

To that end, I've been try

[2022-01-20 12:23] colmsnowplow commented on #524
Actually I might be able to do one better than a retry - @sfc-gh-jbahk sorry to pester with a double-message - if I use [query status polling](https://github.com/snowflakedb/gosnowflake/pull/467) I assume that the result for a multi-statement query will include the results for all statements in the query?

If I can simply handle this exception by polling the database for a genuine result, we can g

[2022-01-20 20:24] sfc-gh-jbahk commented on #524
@colmsnowplow  I think you may be correct in assuming that the error comes from the server side. As you point out, however, without a reproducible query (or iD), it is quite difficult to diagnose and pass the information to debug.

I believe the query status returned by the poll will only be applicable to the entirety of the query and not the individual subqueries (please correct me if I'm wrong @

[2022-01-21 10:20] colmsnowplow commented on #524
Thanks, yes I've confirmed through some hacky tests that it behaves as I need it to, and one queryID/ call to `GetQueryStatus` covers the whole mutli-statement query. That's a nice feature, it allows me to mitigate this issue nicely.

I'll post some code here when I get a chance, before I close this issue, then as and when we can grab the query ID for a query that hits this issue, I'll send it thr

[2022-01-21 16:25] colmsnowplow commented on #524
As promised, for anyone in the future who comes across the same scenario here's the solution I came up with to handle when we get this error:

[code]

Closing this issue. Thanks again for your help reasoning through the issue @sfc-gh-jbahk. I've also added the queryID to all error messages (and also we print it when we hit this scenario), so once I have an example of this scenario I'll forward tha

[2022-01-21 16:25] #524 closed

[2022-01-21 16:30] nathanielc opened #530 "Add Client option to disable PUT/GET features"
We use the snowflake client and would like the ability to disable the PUT/GET features as we do not need them and consider them potential attack vector.

Adding flag to the configuration to disable/enable this feature on the client would fit our needs. We do not need the ability to have fine grained control over which methods PUT/GET or which files are accessed. It is enough for our use case to si

[2022-01-21 18:46] agam opened #532 "SNOW-534077: Panic on missing chunk-downloader for multi-statement response that is missing child request-IDs."
### Issue description
Within `queryContextInternal`, when handling a multi-statement query (https://github.com/snowflakedb/gosnowflake/blob/941a4ebab564328880e80dfcebee7e4d2ddb1fbb/connection.go#L361-L364), we create a new `chunkDownloader` for each child-request (https://github.com/snowflakedb/gosnowflake/blob/941a4ebab564328880e80dfcebee7e4d2ddb1fbb/multistatement.go#L87-L98).

However, _if_ `Re

[2022-01-21 20:14] nathanielc commented on #530
I submitted this PR https://github.com/snowflakedb/gosnowflake/pull/531 happy to change the approach if needed.

[2022-01-25 17:52] colmsnowplow opened #533 "SNOW-535399: `GetQueryStatus` hits json unmarshal error when query status is an error."
### Issue description

`GetQueryStatus` will return the following when the query has an error:

`json: cannot unmarshal string into Go struct field retStatus.data.queries.errorCode of type int`

### Example code
[code]

This outputs:

[code]

### Error log
[code]

### Configuration
v1.6.5

*Go version:*
go version go1.17 darwin/amd64

[2022-01-26 17:48] asonawalla opened #536 "SNOW-535791: PUT operations read full input data into memory"
We use the [streaming PUT](https://pkg.go.dev/github.com/snowflakedb/gosnowflake#hdr-Using_PUT) feature of gosnowflake to upload data to snowflake internal stages.  Recently, we started throwing GB sized files at it and saw our memory usage explode.  Through some experimentation with an isolated production workload, we saw that for a 1GB input file, the driver was using approximately 8GB of memory

[2022-01-28 22:46] mihaitodor opened #540 "SNOW-536706: Binding Parameters to Array Variables"
### Issue description
I'm unable to figure out what is the right query to do a bulk insert of n values using array binding, where `1 < n < CLIENT_STAGE_ARRAY_BINDING_THRESHOLD`. Using the debugger, I determined that `CLIENT_STAGE_ARRAY_BINDING_THRESHOLD` is set to `65280`.

I get an error if I try to run `ALTER SESSION SET CLIENT_STAGE_ARRAY_BINDING_THRESHOLD = 1`, but I don't think I really need

[2022-01-30 03:42] sfc-gh-jbahk commented on #281
Closing this as stale. Please re-open if you can denote a clear use case of this.

[2022-01-30 03:42] #281 closed

[2022-01-31 19:59] sfc-gh-jbahk commented on #173
Done.

[2022-01-31 19:59] #173 closed

[2022-01-31 20:04] sfc-gh-jbahk commented on #532
Done.

[2022-01-31 20:04] #532 closed

[2022-02-01 01:25] sfc-gh-jbahk commented on #530
I've consulted with my team and we ask that you utilize roles to achieve this. You can restrict access to PUT/GET. cc: @sfc-gh-hkapre

[2022-02-01 21:34] sfc-gh-jbahk commented on #476
I believe this has been fixed; SQL queries with syntax errors should not cause a panic.

[2022-02-01 21:36] rleighton commented on #476
I’ll check against the latest release. The issue was handling the JSON, see
the fix

On Tue, Feb 1, 2022 at 4:35 PM sfc-gh-jbahk ***@***.***>
wrote:

[2022-02-01 21:39] sfc-gh-jbahk commented on #476
The JSON fix you proposed breaks the unmarshalling since the data parsed from the server side returns an integer and adding string in the JSON field isn't valid.

[2022-02-01 21:41] rleighton commented on #476
No it does not. We are currently using a branch with this patch , since it
crashes for customers.

The fix allows a string or an int.

Please test it yourself

On Tue, Feb 1, 2022 at 4:39 PM sfc-gh-jbahk ***@***.***>
wrote:

[2022-02-01 21:41] eatonphil opened #542 "SNOW-539030: @ sign in password might be breaking dsn parser"
Hey, I can't tell for sure but I think [this code](https://github.com/snowflakedb/gosnowflake/blob/master/dsn.go#L238) breaks when there's an @ sign in my password. Or maybe I'm supposed to encode the password? I tried base64 and url encoding the password but neither worked.

Any suggestions?

[2022-02-01 21:50] rleighton commented on #476
What I think is happening is the internal api returns a string int code on
these errors. Using this tag let’s it work in this case.

We have extensive tests using the async api, without this change the driver
panics (or did, perhaps you change things on the server side) .

I tested the last release (from memory) still was crashing. I also
escalated this up thru folks we work with at sf.

I’ll test

[2022-02-01 23:46] sfc-gh-jbahk commented on #533
Thank you for bringing this to our attention. The fixed has been merged.

[2022-02-01 23:46] #533 closed

[2022-02-02 09:57] colmsnowplow commented on #533
That was fast! Thanks!

[2022-02-02 14:22] rleighton commented on #476
Tested against v1.6.6, still crashes.

The fix specified above works and we have to keep a branch against this code since Sept 2021 because this has not been fixed.

By adding the `,string` to the Golang tag it allows string versions of the int. This is a 7 character change that fixes this.

Here is a stand alone program that demonstrates the bug: https://gist.github.com/rleighton/5a7fb249446a55b6

[2022-02-02 19:38] eatonphil commented on #542
Nevermind, the issue was that I was trying to connect with `snowflake://user:password@account` whereas this library expects that the `snowflake://` prefix doesn't exist.

It might be worth stripping the dsn of `snowflake://` if it exists. Closing this issue since it was problem.

[2022-02-02 19:38] #542 closed

[2022-02-03 16:53] nathanielc commented on #530
@sfc-gh-jbahk Thanks for taking a look at this. If I understand correctly you are suggesting that we create roles on the snowflake service to restrict PUT/GET access. We do not have control over the snowflake service and cannot dictate how our users configure their snowflake service.

We are a middle man in this exchange, we provide a cloud service that allows users to work with data from many dif

[2022-02-04 22:42] sfc-gh-jbahk commented on #476
`msg="failed to decode JSON. err: json: invalid use of ,string struct tag, trying to unmarshal \"\" into string" func="gosnowflake.(*snowflakeConn).checkQueryStatus"`
As mentioned, this is the error I get when I apply your fix.

[2022-02-05 19:17] rleighton commented on #476
We have been using the patch for months on branch to get around this:
![image](https://user-images.githubusercontent.com/18419762/152655742-3fd4ad1b-8c1e-4787-a97f-8505da86c789.png)

[2022-02-07 16:59] sfc-gh-jbahk commented on #476
The newest release changes the ErrorCode from an int to a string. Perhaps that suits your needs?

[2022-02-07 17:53] rleighton commented on #476
It is not my needs , the driver panics checking status.

Does my gist work on the latest release? When I latest ran it it crashes

On Mon, Feb 7, 2022 at 11:59 AM sfc-gh-jbahk ***@***.***>
wrote:

[2022-02-07 18:03] sfc-gh-jbahk commented on #476
Your fix applied to the latest release produces the error message I sent earlier. I'll look into it some more later, thanks.

[2022-02-09 14:50] colmsnowplow commented on #524
👋  just a quick follow-up, the fix seems to have mitigated the issue, and I have shared some queryIDs for the Snowflake team's reference in support ticket number 00315432. :)

[2022-02-09 17:01] sfc-gh-jbahk commented on #524
Thank you! @colmsnowplow we'll review it and see if there are changes we can make.

[2022-02-10 23:49] sfc-gh-jbahk commented on #540
Hi @mihaitodor, thank you for your inquiry. The long and short of it is that bulk array binds are meant to be used internally to distinguish whether to simply bind the array through a conventional REST request or go through a staging mechanism to achieve the same thing; it's not something we leave configurable to the user.

In terms of variant binding, we currently don't support it, which is in li

[2022-02-11 00:15] mihaitodor commented on #540
@sfc-gh-jbahk Thank you for the update! I guess that makes sense and I’m looking forward to having support for variant binding. Would be great to get an update once that’s done. Should I open a separate issue for that? Also, is there some explanation for the discrepancies I described above between the two queries? To me, they should behave identically.

I’m somewhat surprised that you don’t want t

[2022-02-11 00:23] sfc-gh-jbahk commented on #540
No need to open a separate issue for variant binding - it's already something in our backlog (https://github.com/snowflakedb/gosnowflake/issues/217). The driver's implementation of it depends on a lot of things so it will take some time before it's fully rolled out. I think the discrepancy comes from how the server decides to handle this.

The threshold is something we've decided to not let users

[2022-02-11 00:23] #540 closed

[2022-02-15 22:27] #523 closed

[2022-02-16 13:02] rleighton commented on #476
Any luck? Just to be clear the "fix" only changes the JSON tag on that field to allow JSON ints with and without quotes. I did NOT change the type to string. We have been using this fix for months to avoid the crashes. You should be to run the gist above on the current release, see the crash, change the JSON tag adding ",string" to the end, re-run the gist and it works. I did exactly that when I d

[2022-02-17 17:29] sfc-gh-jbahk commented on #348
Hello, this has been fixed with the newest release. Thank you for bringing this to our attention.

[2022-02-17 17:54] kevin-lindsay-1 opened #550 "SNOW-545648: Unintuitive timezone behavior, lack of documentation"
If you create a `time.Now()` using `DataTypeTimestampLtz`, this driver doesn't appear to work correctly.

I don't really know what it was doing under the hood, but it was definitely detecting the wrong timezone.

As far as I'm concerned it doesn't work; I set the logger to debug and it didn't look like it was formatting the value correctly (or at all).

I'm not using this behavior because it appea

[2022-02-17 18:54] sfc-gh-jbahk commented on #530
@nathanielc Thanks for the clarification and description of your use case.  We can see what you are trying to accomplish on your service.  Given that most drivers are run in trusted environments and the PUT/GET is a common use case we’d prefer not to create a separate flag to support what is, essentially, trying to sandbox the driver inside the driver code itself.  While the PR may accomplish this

[2022-02-17 19:01] sfc-gh-jbahk commented on #550
@kevin-lindsay-1 Thank you for bringing this to our attention. Would you mind sharing how you're using DataTypeTimestampLtz? Whether it be a bug or lack of documentation, we'd like to fix this problem. Thanks.

[2022-02-17 19:19] sfc-gh-jbahk commented on #550
I see. Timestamp_LTZ is meant to capture the current session's timezone, noted in the TIMEZONE session parameter. We will look into what went wrong here.

[2022-02-17 19:24] kevin-lindsay-1 commented on #550
Yeah I was more referring to "I don't understand why you're capturing a timezone when UTC exists and you can just convert the value to UTC".

[2022-02-18 07:44] stoffeastrom opened #552 "SNOW-546088: Breaking change in `patch` version `1.6.7`"
### Issue description

Upgrading from `1.6.6` introduces a breaking change in

[code]

This now uses an *internal* only uuid implementation

[2022-02-22 18:15] sfc-gh-jbahk commented on #552
@stoffeastrom Thank you for bringing this up. We are aware of this and will look to mitigate the issue. May I ask how you're using this piece of code?

[2022-02-22 18:35] sfc-gh-jbahk commented on #476
@rleighton I am aware and did add the ",string" to to the end and it produces the error message I sent above; I also tried to apply your fix in your standalone program that was meant to demonstrate the bug and it produces the same error. The latest release also addresses the issue of the field ErrorCode within retStatus to be a string which sounds like it was the issue, if you'd like to try that.

[2022-02-22 18:53] stoffeastrom commented on #552
@sfc-gh-jbahk Thanks for your reply.

[code]

this `requestID` is then logged in our system to be able to track current request.

[2022-02-22 19:35] sfc-gh-jbahk commented on #552
I see. It was shortsighted to not include a proper notice and code that would be able to cater to usage like that. We are trying to veer way from third party APIs/SDKs that have broken in the past. Would it suit your case to have a method in which it can create a snowflake UUID?

[2022-02-22 19:53] rleighton commented on #476
I’ll try the latest, Ty!

On Tue, Feb 22, 2022 at 1:35 PM sfc-gh-jbahk ***@***.***>
wrote:

[2022-02-22 20:45] stoffeastrom commented on #552
Yes, that should be sufficient enough I think. I guess this stems from the rest api

<img width="1654" alt="image" src="https://user-images.githubusercontent.com/682243/155216021-7df3d434-57e8-47a9-bd13-34c1a3b7a647.png">

Totally get the veer away from third party apis argument..

[2022-02-23 14:38] rleighton commented on #476
Confirmed the latest release fixes this! Ty!. Closing.

[2022-02-23 14:38] #476 closed

[2022-02-23 20:54] #552 closed

[2022-02-23 21:54] jpmunz opened #555 "SNOW-551325: Panic on missing Location in call to Time.In"
### Issue description

Not sure if related to https://github.com/snowflakedb/gosnowflake/issues/550, in attempting to upgrade from 1.6.6 to 1.6.7 I started seeing a panic:

[code]

I believe as a result of this change:
https://github.com/snowflakedb/gosnowflake/compare/v1.6.6...v1.6.7#diff-ecad48054a05ca5aecf42b278530331772747ed7211a193aacd94214cb53aad0R227

[2022-02-24 09:03] kchojn opened #556 "SNOW-551650: Is the parameter cfg.`KeepSessionALive` useless in HeartBeat?"
### Issue description
I was wondering why I keep getting the message `Authentication token has expired`, even if I've set `KeepSessionAlive` as `True` in the config.
Analyzing the code, I see that it is not parsed and used anywhere. The `keep session alive` parameter is taken from `Params`. Also I see that heartBeat is based on `params`:
Edit: I'm using dsn
[code]
Should I only use params for addi

[2022-02-24 14:15] kchojn commented on #556
Looks like `client keep seesion alive` param is not working either
[code]

4 hours later:
[code]

I also do not see the execution of `select 1` in the history panel. Only after running.

This is how db is created:
[code]

[2022-02-26 09:18] agam commented on #532
Thanks!

[2022-02-28 18:28] sfc-gh-jbahk commented on #555
Hi @jpmunz could you share the code that caused this error? Thanks.

[2022-03-04 01:26] sfc-gh-wfateem commented on #556
Hi @kchojn,
I think you might have swapped parts of the name, it should be client_session_keep_alive not client_keep_session_alive, and you can set that in the DSN.

[2022-03-04 12:58] kchojn commented on #556
Hey @sfc-gh-wfateem ,
Thank you for your time and response. I agree, I made a mistake 😳 It seems to be working now!

What about config attr `KeepSessionAlive`? Does it have any use?

[2022-03-04 15:00] sfc-gh-wfateem commented on #556
Hey @kchojn,

I think what we're interested in is sessionClientSessionKeepAlive, but I do agree, KeepSessionAlive doesn't look like it has much use after skimming through the code briefly. Not sure what the history is behind that portion of the code. I'll look into it a bit and ask someone else who's a bit more familiar with this codebase in case there's some cleanup that needs to happen.
Concerni

[2022-03-04 15:16] kchojn commented on #556
@sfc-gh-wfateem, yes, I'm good with that! Thank you. This config attr `KeepSessionAlive` was misleading, for me.
I will open pr with the usage of this parameter.
From my side everything is clear, feel free to close the issue if you want.

Regards!

[2022-03-04 15:18] sfc-gh-wfateem commented on #556
All right then, thanks for reaching out @kchojn! Have a good one!

[2022-03-04 15:18] #556 closed

[2022-03-08 11:26] satishbhor opened #557 "SNOW-556791: Async query with cancelable context causing app panic"
Steps:
[code]

Seems like runAsync method in connection.go closing error channel twice in case error is not nil

[code]

[code]

[2022-03-15 11:22] satishbhor opened #562 "SNOW-559970: Client Panic when context canceled error received"
This issue occurs when you try to monitor async query by passing cancelable context to WithFetchResultByID
e.g.
[code]
This is happening due to unchecked casting to SnowflakeError

[code]

[2022-03-22 21:35] kpruden commented on #555
I don't have an easy repro, but the panic I'm getting points to this line of code:

https://github.com/snowflakedb/gosnowflake/blob/master/converter.go#L227

[2022-03-23 10:40] jmrobles opened #565 "SNOW-563221: Crashed when locales files not found"
### Issue description

During the session parameters initialization, there is no checking for error in `time.LoadLocation`
![image](https://user-images.githubusercontent.com/1277154/159680242-da221b89-3a0a-4077-9f9a-436809458928.png)

If `gosnowflake`runs in a container, probably the image can not include the timezone/locales files.

It's necessary to check for the error and not ignore it.

### Ex

[2022-03-23 13:50] jmrobles commented on #555
I think is related with https://github.com/snowflakedb/gosnowflake/issues/565

[2022-03-30 21:57] melvinRspectrumio opened #566 "SNOW-567081: Upgrade of the Terraform SF provider from 0.25.36 --> 0.28.6 causes the plugin to crash"
### Issue description
When we do a `terraform plan` the plugin should not crash.

### Example code
[code]

### Error log
[code]
Add ``glog` option to your application to collect log files.

### Configuration
*Driver version (or git SHA):*
- Installing chanzuckerberg/snowflake v0.28.6...
- Installed chanzuckerberg/snowflake v0.28.6 (self-signed, key ID 7F0296D97BDC3008)
- Installing hashicorp/aws v

[2022-04-28 22:36] AlmogBaku opened #576 "SNOW-583475: How to insert DataTypeObject ?"
How do I inset a DataTypeObject? should I create a struct? should I marshal to json?
An example would be helpful :)

Thanks

[2022-05-02 00:26] AlmogBaku commented on #576
for anyone interested, I solved it by serializing my object to *JSON string* - then deserializing it in the SQL query: via `parse_json(?)`

[2022-05-03 22:02] kishvanchee opened #577 "SNOW-585196: Snowflake UI shows parameterized sql instead of complete sql"
### Issue description
I expect to see the actual query being recorded in the snowflake UI. Instead I am seeing parameterized sql.

What I expect
[code]

What I see
[code]
![Screenshot_20220504_032056](https://user-images.githubusercontent.com/24776049/169072035-22e30b4d-c4bc-4ccd-97c6-3afaf5140429.png)

### Example code
[code]

### Configuration
*Driver version (or git SHA):* v1.6.9

*Go version:*

[2022-05-05 21:25] albscui opened #578 "SNOW-586521: Numeric data to string conversion does not result in the expected number of decimal places."
### Issue description

When querying numbers with decimal places as strings, the resulting string representation always has 6 decimal places. This seems to affect both `NUMBER` and `FLOAT` types.

### Example code
[code]

[code]
Results in
[code]
But expects
[code]

### Configuration
*Driver version:*  v1.6.7

*Go version:* `go version go1.17.9 linux/amd64`

*Server version:* 6.14.0

*Client OS:*

[2022-05-11 12:44] zegenerative opened #579 "SNOW-588465: 390100 (08004): Incorrect username or password was specified"
Unable to login with credentials that are identical to credentials to successfully login online/browser

### Example code
[code]
user is in the form of XX_XX.X@XX.NL
password has upper/lowercase letters, includes a '+' symbol
they are correctly being read from a .env file

### Error log
[code]

### Configuration

*Go version:* 1.18 darwin/arm64

[2022-05-17 17:43] kishvanchee commented on #579
Hi @zegenerative . I'm a fellow user too. I use the following code to connect. Personally I have avoided creating the connection strings by myself. Maybe you can give this a try?

Code isn't the best, I just copy pasted from my personal repo.
[code]

[2022-06-15 19:25] maksenius opened #588 "SNOW-612798: Test for goroutine leaks."
### Issue description
Test with check leaks failed.
Using library for test "go.uber.org/goleak"
Errors are: `internal/poll.runtime_pollWait` and `net/http.(*persistConn).writeLoop`

### Example code
[code]

### Error log
[code]

### Configuration
*Driver version (or git SHA):v1.6.10*

*Go version:1.18*

*Server version:6.18.3*

*Client OS:Linux Mint 20.1*

[2022-06-17 01:20] setharnold opened #589 "SNOW-614539: incorrect error messages in writeOCSPCacheFile in ocsp.go"
https://github.com/snowflakedb/gosnowflake/blob/4f0bbba0b18a95d3ef143eb8b1173b5276a1bf20/ocsp.go#L820

Hello, there's some inconsistent error messages in `writeOCSPCacheFile()`:

[code]

The first two might be more about showing the high-level intentions of the code rather than the lower-level indicator of what exactly failed, but in my experience, trying to give higher-level descriptions of failu

[2022-07-01 01:37] github-actions[bot] opened #593 "Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2 | Snyk ID - SNYK-GOLANG-GOLANGORGXCRYPTOSSH-2429769"
Title: Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2022-27191
  Package Type: golang
  Package Name: golang.org/x/crypto
  Package Version: v0.0.0-20190308221718-c2843e01d9a2
  Snyk ID: SNYK-GOLANG-G

[2022-07-01 01:37] github-actions[bot] opened #594 "Snyk: gosnowflake golang.org/x/net v0.0.0-20180724234803-3673e40ba225 | Snyk ID - SNYK-GOLANG-GOLANGORGXNETHTTP2-2313688"
Title: Snyk: gosnowflake golang.org/x/net v0.0.0-20180724234803-3673e40ba225
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2021-44716
  Package Type: golang
  Package Name: golang.org/x/net
  Package Version: v0.0.0-20180724234803-3673e40ba225
  Snyk ID: SNYK-GOLANG-GOLANGO

[2022-07-01 01:37] github-actions[bot] opened #595 "Snyk: gosnowflake golang.org/x/text v0.3.0 | Snyk ID - SNYK-GOLANG-GOLANGORGXTEXTENCODINGUNICODE-609611"
Title: Snyk: gosnowflake golang.org/x/text v0.3.0
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2020-14040
  Package Type: golang
  Package Name: golang.org/x/text
  Package Version: v0.3.0
  Snyk ID: SNYK-GOLANG-GOLANGORGXTEXTENCODINGUNICODE-609611
  Vulnerability URL: htt

[2022-07-01 01:37] github-actions[bot] opened #596 "Snyk: gosnowflake gopkg.in/yaml.v2 v2.2.2 | Snyk ID - SNYK-GOLANG-GOPKGINYAMLV2-1083943"
Title: Snyk: gosnowflake gopkg.in/yaml.v2 v2.2.2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2019-11254
  Package Type: golang
  Package Name: gopkg.in/yaml.v2
  Package Version: v2.2.2
  Snyk ID: SNYK-GOLANG-GOPKGINYAMLV2-1083943
  Vulnerability URL: http://security.snyk

[2022-07-01 01:37] github-actions[bot] opened #597 "Snyk: gosnowflake gopkg.in/yaml.v2 v2.2.2 | Snyk ID - SNYK-GOLANG-GOPKGINYAMLV2-1533594"
Title: Snyk: gosnowflake gopkg.in/yaml.v2 v2.2.2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE:
  Package Type: golang
  Package Name: gopkg.in/yaml.v2
  Package Version: v2.2.2
  Snyk ID: SNYK-GOLANG-GOPKGINYAMLV2-1533594
  Vulnerability URL: http://security.snyk.io/vuln/SNYK-G

[2022-07-01 01:37] github-actions[bot] opened #598 "Snyk: gosnowflake gopkg.in/yaml.v3 v3.0.0-20200313102051-9f266ea9e77c | Snyk ID - SNYK-GOLANG-GOPKGINYAMLV3-2841557"
Title: Snyk: gosnowflake gopkg.in/yaml.v3 v3.0.0-20200313102051-9f266ea9e77c
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2022-28948
  Package Type: golang
  Package Name: gopkg.in/yaml.v3
  Package Version: v3.0.0-20200313102051-9f266ea9e77c
  Snyk ID: SNYK-GOLANG-GOPKGIN

[2022-07-01 01:37] github-actions[bot] opened #599 "Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2 | Snyk ID - SNYK-GOLANG-GOLANGORGXCRYPTOSSH-551923"
Title: Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2020-9283
  Package Type: golang
  Package Name: golang.org/x/crypto
  Package Version: v0.0.0-20190308221718-c2843e01d9a2
  Snyk ID: SNYK-GOLANG-GO

[2022-07-01 01:37] github-actions[bot] opened #600 "Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2 | Snyk ID - SNYK-GOLANG-GOLANGORGXCRYPTO-2825234"
Title: Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2020-29652
  Package Type: golang
  Package Name: golang.org/x/crypto
  Package Version: v0.0.0-20190308221718-c2843e01d9a2
  Snyk ID: SNYK-GOLANG-G

[2022-07-01 01:37] github-actions[bot] opened #601 "Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2 | Snyk ID - SNYK-GOLANG-GOLANGORGXCRYPTOSSH-2331920"
Title: Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2020-29652
  Package Type: golang
  Package Name: golang.org/x/crypto
  Package Version: v0.0.0-20190308221718-c2843e01d9a2
  Snyk ID: SNYK-GOLANG-G

[2022-07-01 01:37] github-actions[bot] opened #602 "Snyk: gosnowflake golang.org/x/text v0.3.0 | Snyk ID - SNYK-GOLANG-GOLANGORGXTEXTINTERNALLANGUAGE-2400718"
Title: Snyk: gosnowflake golang.org/x/text v0.3.0
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2021-38561
  Package Type: golang
  Package Name: golang.org/x/text
  Package Version: v0.3.0
  Snyk ID: SNYK-GOLANG-GOLANGORGXTEXTINTERNALLANGUAGE-2400718
  Vulnerability URL: h

[2022-07-02 00:12] #579 closed

[2022-07-02 00:12] #555 closed

[2022-07-02 00:13] #83 closed

[2022-07-03 01:31] #602 closed

[2022-07-03 01:31] #600 closed

[2022-07-03 01:31] #601 closed

[2022-07-03 01:31] #599 closed

[2022-07-03 01:31] #597 closed

[2022-07-03 01:31] #598 closed

[2022-07-03 01:31] #595 closed

[2022-07-03 01:31] #596 closed

[2022-07-03 01:31] #593 closed

[2022-07-03 01:31] #594 closed

[2022-07-03 12:04] github-actions[bot] opened #603 "Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2 | Snyk ID - SNYK-GOLANG-GOLANGORGXCRYPTOSSH-2429769"
Title: Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2022-27191
  Package Type: golang
  Package Name: golang.org/x/crypto
  Package Version: v0.0.0-20190308221718-c2843e01d9a2
  Snyk ID: SNYK-GOLANG-G

[2022-07-03 12:04] github-actions[bot] opened #604 "Snyk: gosnowflake golang.org/x/net v0.0.0-20180724234803-3673e40ba225 | Snyk ID - SNYK-GOLANG-GOLANGORGXNETHTTP2-2313688"
Title: Snyk: gosnowflake golang.org/x/net v0.0.0-20180724234803-3673e40ba225
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2021-44716
  Package Type: golang
  Package Name: golang.org/x/net
  Package Version: v0.0.0-20180724234803-3673e40ba225
  Snyk ID: SNYK-GOLANG-GOLANGO

[2022-07-03 12:04] github-actions[bot] opened #605 "Snyk: gosnowflake golang.org/x/text v0.3.0 | Snyk ID - SNYK-GOLANG-GOLANGORGXTEXTENCODINGUNICODE-609611"
Title: Snyk: gosnowflake golang.org/x/text v0.3.0
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2020-14040
  Package Type: golang
  Package Name: golang.org/x/text
  Package Version: v0.3.0
  Snyk ID: SNYK-GOLANG-GOLANGORGXTEXTENCODINGUNICODE-609611
  Vulnerability URL: htt

[2022-07-03 12:04] github-actions[bot] opened #606 "Snyk: gosnowflake gopkg.in/yaml.v2 v2.2.2 | Snyk ID - SNYK-GOLANG-GOPKGINYAMLV2-1083943"
Title: Snyk: gosnowflake gopkg.in/yaml.v2 v2.2.2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2019-11254
  Package Type: golang
  Package Name: gopkg.in/yaml.v2
  Package Version: v2.2.2
  Snyk ID: SNYK-GOLANG-GOPKGINYAMLV2-1083943
  Vulnerability URL: http://security.snyk

[2022-07-03 12:04] github-actions[bot] opened #607 "Snyk: gosnowflake gopkg.in/yaml.v2 v2.2.2 | Snyk ID - SNYK-GOLANG-GOPKGINYAMLV2-1533594"
Title: Snyk: gosnowflake gopkg.in/yaml.v2 v2.2.2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE:
  Package Type: golang
  Package Name: gopkg.in/yaml.v2
  Package Version: v2.2.2
  Snyk ID: SNYK-GOLANG-GOPKGINYAMLV2-1533594
  Vulnerability URL: http://security.snyk.io/vuln/SNYK-G

[2022-07-03 12:04] github-actions[bot] opened #608 "Snyk: gosnowflake gopkg.in/yaml.v3 v3.0.0-20200313102051-9f266ea9e77c | Snyk ID - SNYK-GOLANG-GOPKGINYAMLV3-2841557"
Title: Snyk: gosnowflake gopkg.in/yaml.v3 v3.0.0-20200313102051-9f266ea9e77c
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2022-28948
  Package Type: golang
  Package Name: gopkg.in/yaml.v3
  Package Version: v3.0.0-20200313102051-9f266ea9e77c
  Snyk ID: SNYK-GOLANG-GOPKGIN

[2022-07-03 12:04] github-actions[bot] opened #609 "Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2 | Snyk ID - SNYK-GOLANG-GOLANGORGXCRYPTOSSH-551923"
Title: Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2020-9283
  Package Type: golang
  Package Name: golang.org/x/crypto
  Package Version: v0.0.0-20190308221718-c2843e01d9a2
  Snyk ID: SNYK-GOLANG-GO

[2022-07-03 12:04] github-actions[bot] opened #610 "Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2 | Snyk ID - SNYK-GOLANG-GOLANGORGXCRYPTO-2825234"
Title: Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2020-29652
  Package Type: golang
  Package Name: golang.org/x/crypto
  Package Version: v0.0.0-20190308221718-c2843e01d9a2
  Snyk ID: SNYK-GOLANG-G

[2022-07-03 12:04] github-actions[bot] opened #611 "Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2 | Snyk ID - SNYK-GOLANG-GOLANGORGXCRYPTOSSH-2331920"
Title: Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2020-29652
  Package Type: golang
  Package Name: golang.org/x/crypto
  Package Version: v0.0.0-20190308221718-c2843e01d9a2
  Snyk ID: SNYK-GOLANG-G

[2022-07-03 12:04] github-actions[bot] opened #612 "Snyk: gosnowflake golang.org/x/text v0.3.0 | Snyk ID - SNYK-GOLANG-GOLANGORGXTEXTINTERNALLANGUAGE-2400718"
Title: Snyk: gosnowflake golang.org/x/text v0.3.0
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2021-38561
  Package Type: golang
  Package Name: golang.org/x/text
  Package Version: v0.3.0
  Snyk ID: SNYK-GOLANG-GOLANGORGXTEXTINTERNALLANGUAGE-2400718
  Vulnerability URL: h

[2022-07-05 13:27] Thomasdezeeuw opened #613 "DisableTelemetry is ignored"
Just looking through the code it's quite obvious.

First there is a check that set a disabled telementry client:

https://github.com/snowflakedb/gosnowflake/blob/3c7253cb065fc33771a2e9b46c5ae8c00f321fdd/connection.go#L448-L450

However it's overwritten a couple of lines later:

https://github.com/snowflakedb/gosnowflake/blob/3c7253cb065fc33771a2e9b46c5ae8c00f321fdd/connection.go#L477-L482

[2022-07-05 13:36] Thomasdezeeuw commented on #613
Seems that the JIRA setup is also failing: https://github.com/snowflakedb/gosnowflake/runs/7197178476?check_suite_focus=true.

[2022-07-06 06:55] sfc-gh-dszmolka commented on #613
hi @Thomasdezeeuw - thanks for drawing our attention to this issue, we'll look into it. Also appreciate the notification about the failing github action, we'll check that too (and why this issue was auto-closed).

[2022-07-06 09:47] sfc-gh-dszmolka commented on #613
sadly i don't have such privileges, i would have done it if i could. but we're looking into it at the following (manually opened :| ) internal tickets:
SNOW-623421 - [gosnowflake] DisableTelemetry is ignored
SNOW-623405 - [gosnowflake] Github Action create-jira is failing

can update you here on the progress (or you can watch the PR's yourself for the first one, I suppose there should one one soon

[2022-07-06 14:21] Thomasdezeeuw opened #614 "SNOW-624656: Make fillMissingConfigParameters public or call it from OpenWithConfig"
### Issue description

I'm using `OpenWithConfig` and it doesn't fill in any of the default values. This is fine, but `fillMissingConfigParameters` (nor any of the actual default values) are public, this forces the user to copy the default values making it more likely the will be outdated.

Would it be possible for `fillMissingConfigParameters` to become public, or for `OpenWithConfig` to call it?

[2022-07-08 16:00] sfc-gh-mkeller commented on #614
recreate jira

[2022-07-11 10:07] Thomasdezeeuw opened #616 "Make logrus dependency optional or drop it all together"
The dependency on logrus creates two problems:
1.  I'm currently getting a lot of logs in a different format than my log parser is expected by using Snowflake.
2. Creating a customer logging implementation that doesn't use logrus is basically not possible.

Would it be possible to make the logrus dependency optional or maybe remove it all together?

[2022-07-12 19:21] setharnold opened #619 "SNOW-626566: Please add a SECURITY.md file and security policy"
Hello, please add a `SECURITY.md` file and fill out a security policy on this repository: https://github.com/snowflakedb/gosnowflake/security/policy

Please also consider setting a default security policy: https://docs.github.com/en/code-security/getting-started/securing-your-organization

Thanks

[2022-07-18 00:11] github-actions[bot] opened #623 "Snyk: gosnowflake gopkg.in/yaml.v3 v3.0.0-20200313102051-9f266ea9e77c | Snyk ID - SNYK-GOLANG-GOPKGINYAMLV3-2952714"
Title: Snyk: gosnowflake gopkg.in/yaml.v3 v3.0.0-20200313102051-9f266ea9e77c
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb_public_repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE:
  Package Type: golang
  Package Name: gopkg.in/yaml.v3
  Package Version: v3.0.0-20200313102051-9f266ea9e77c
  Snyk ID: SNYK-GOLANG-GOPKGINYAMLV3-2952714

[2022-07-19 00:06] #613 closed

[2022-07-19 00:35] sfc-gh-bsterne commented on #619
Thank you for reaching out. You can submit a vulnerability report through HackerOne here:
https://hackerone.com/139c0e4f-5b34-470a-b81e-aa8740c3e66e/embedded_submissions/new

Please select Golang Driver under asset. Thanks again.

I'll follow up separately about adding a SECURITY.md

[2022-07-20 08:04] gane5hvarma opened #626 "How to fetch query id from snowflake when the query is executing"
### Issue description
I'm using go snowflake driver in a go application. I have a case where im trying to print the query id, which is used to generate the query url of a query that is executing in snowflake. I have tried this method by sending gosnowflake.UUID, but the actual query id seems to be different in the snowflake history page. Is there a way to get actual query id which is same as in hi

[2022-07-21 15:41] Thomasdezeeuw commented on #614
Any thoughts on this @sfc-gh-mkeller?

[2022-07-21 15:41] Thomasdezeeuw commented on #616
Any feedback on this? If accept I could start a pr.

[2022-07-22 02:31] setharnold commented on #619
Thanks @sfc-gh-bsterne -- someone else replied to my oss-security posting with https://www.snowflake.com/product/security-and-trust-center/ -- I *searched* for this, I just never found it. So here's hoping scattering the URL around a little bit will help make it more visible.

[2022-07-27 09:49] aashakabra opened #628 "SNOW-636038: Is "application" Connection Parameter in Snowflake GoDriver same as "application" Connection Parameter in Snowflake JDBC driver"
In case of JDBC driver- https://docs.snowflake.com/en/user-guide/jdbc-parameters.html#other-parameters
Connection parameter '**application**' can be used and on above link it has the description as '**Snowflake partner use only: Specifies the name of a partner application to connect through JDBC.**'

I am looking for similar implementation to be done using GoDriver.
On this page - https://pkg.go.d

[2022-07-28 13:46] Thomasdezeeuw opened #630 "Panic inside `snowflakeFileTransferAgent.parseCommand` due to nil pointer dereference"
### Issue description

Panic inside `snowflakeFileTransferAgent.parseCommand` due to nil pointer dereference.

### Example code

The relevant code is here: https://github.com/snowflakedb/gosnowflake/blob/d62ff8279fcb2f72c7bd1b0c85354eb64e4e5f88/file_transfer_agent.go#L257

It uses `fi` and only afterwards check if `err` is nil, this should be flipped: check the error first, then use `fi`.

### Err

[2022-07-28 13:55] Thomasdezeeuw opened #631 "SNOW-636720: Panic due to slice bounds out of range in paddingTrim"
### Issue description

Panic due to slice bounds out of range, see backtrace below.

### Example code

I can't share at the moment.

### Error log

Trace:

[code]

### Configuration

*Driver version (or git SHA):* gosnowflake@v1.6.11

*Go version:* go version go1.18.4 darwin/arm64

[2022-07-28 14:16] Thomasdezeeuw opened #632 "SNOW-636725: panic: crypto/cipher: input not full blocks"
### Issue description

See backtrace below.

### Example code

Not available.

### Error log

Trace:
[code]

### Configuration

*Driver version (or git SHA):* gosnowflake@v1.6.11

*Go version:* go version go1.18.4 darwin/arm64

[2022-07-28 17:26] ralphtj opened #633 "SNOW-636822: Bulk write Array Bind: Support NULL values"
### Issue description
I am trying to do bulk insert using the method provided in the documentation. Would like to inserts null values

I referred the documentation for bulk array bind.
// Create a table containing an integer, float, boolean, and string column.
_, err = db.Exec("create or replace table my_table(c1 int, c2 float, c3 boolean, c4 string)")
...
// Define the arrays containing the data

[2022-07-29 17:27] sfc-gh-jbahk commented on #628
Hi, yes it is the same as the JDBC driver.

[2022-07-29 17:27] #628 closed

[2022-08-02 07:37] Woody1193 commented on #579
I've been having this issue as well:

[code]

[2022-08-08 03:12] gangtao commented on #576
Yes, is there a sample for this? I dont think the parse_json solve this problem?

[2022-08-09 21:38] jberkenbilt opened #640 "SNOW-641769: Failure to connect when user's default role is lower-case"
### Issue description
If a user has a default role that is lower case, you can't connect using gosnowflake.

Note: I have not been able to reproduce this bug from scratch because, when you create a user today, snowflake appears to convert the role to upper case automatically. But my snowflake account has some old users in it whose roles were not upper case.

### Example code

Just pass a fully val

[2022-08-12 22:09] tayknight opened #644 "SNOW-645253: Named bind parameters in exec fails"
_go version_
go version go1.19 windows/amd64

_go mod_
go 1.19
github.com/snowflakedb/gosnowflake v1.6.12

_Server version_
6.27.0

### Issue description
When trying to use a named bind variable in an db.Exec statement an error is retuned.

`sf_result, err := snowflake_db.Exec("INSERT INTO DA_DW_DEV.STG.CV_TLMSD_API_TERMS (ID) VALUES (:id)", sql.Named("id", "1"))`

[code]

A "normal" question-mark

[2022-08-18 08:21] gane5hvarma opened #646 "When context is cancelled, the query running is not cancelled"
### Issue description
I have passed a parent context to the below call. After the ctx is cancelled its not cancelling the query, which was evident by looking at query history
[code]

*Client OS:* E.g. Debian 8.1 (Jessie), Windows 10

[2022-08-19 09:46] Thomasdezeeuw commented on #630
Any update on this? This is blocking our support for Snowflake...

[2022-08-19 09:46] Thomasdezeeuw commented on #631
Any update on this? This is blocking our support for Snowflake.

[2022-08-19 09:46] Thomasdezeeuw commented on #632
Any update on this? This is blocking our support for Snowflake.

[2022-08-25 22:03] frosforever commented on #626
I'm no expert in this and going through something similar so until someone with more knowledge weighs in perhaps this will be helpful.

I believe you might be confusing a snowflake request ID for a query ID. These are not the same and I have found no particular use for the request ID. I'm sure there is one but it doesn't show up in history or the `SNOWFLAKE.ACCOUNT_USAGE.QUERY_HISTORY` table.

I b

[2022-09-05 03:31] sivchari commented on #646
Hi, @gane5hvarma .
I would like to know how to reproduce it. I succeeded to cancel the query in my environment.
Here is example code.

[code]

[2022-09-07 16:42] mihaitodor opened #654 "SNOW-657330: WithFileStream support for GET queries"
### Issue description
I'd like to write some code which downloads a file from a Snowflake stage into an in-memory stream. However, it looks like this client library [only supports](https://pkg.go.dev/github.com/snowflakedb/gosnowflake#hdr-Using_GET) specifying an actual file as the destination. Note that for PUT operations, I can use [`WithFileStream`](https://pkg.go.dev/github.com/snowflakedb/gos

[2022-09-09 18:23] srabraham commented on #578
the problem is even worse for numbers such that 0 < number < 5e-6, since they just get rounded to zero...

[code]

[2022-09-09 20:39] srabraham commented on #578
any chance the below line is suspicious? For example, fmt.Sprintf("%f", 1e-7) prints 0

https://go.dev/play/p/XkdvbnPBfOm

https://github.com/snowflakedb/gosnowflake/blob/6a152a12d4523d8c40b57426ebfaa8af52b8be02/converter.go#L433

[2022-09-09 22:07] srabraham commented on #578
My colleague John has made a PR to fix this bug. https://github.com/snowflakedb/gosnowflake/pull/655

[2022-09-19 00:13] github-actions[bot] opened #659 "Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2 | Snyk ID - SNYK-GOLANG-GOLANGORGXCRYPTOSSH-3026972"
Title: Snyk: gosnowflake golang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb-sca-scanning-public-repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2021-43565
  Package Type: golang
  Package Name: golang.org/x/crypto
  Package Version: v0.0.0-20190308221718-c2843e01d9a2
  Snyk ID:

[2022-09-22 00:14] github-actions[bot] opened #662 "Snyk: gosnowflake golang.org/x/net v0.0.0-20180724234803-3673e40ba225 | Snyk ID - SNYK-GOLANG-GOLANGORGXNETHTTP2-3028257"
Title: Snyk: gosnowflake golang.org/x/net v0.0.0-20180724234803-3673e40ba225
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb-sca-scanning-public-repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2022-27664
  Package Type: golang
  Package Name: golang.org/x/net
  Package Version: v0.0.0-20180724234803-3673e40ba225
  Snyk ID: SNYK-G

[2022-09-27 08:57] Thomasdezeeuw commented on #630
It's been two months now... we're trying to support Snowflake, but without a response this makes it quite difficult.

[2022-09-27 08:57] Thomasdezeeuw commented on #631
It's been two months now... we're trying to support Snowflake, but without a response this makes it quite difficult.

[2022-09-27 08:57] Thomasdezeeuw commented on #632
It's been two months now... we're trying to support Snowflake, but without a response this makes it quite difficult.

[2022-09-30 04:42] kotko opened #666 "issue title) && ls / && echo ""
Hi. this issue for test and demo bug

[2022-09-30 04:42] #666 closed

[2022-09-30 04:46] kotko opened #667 "new issue title" && ls / && echo ""
Hi. this issue for test and demo bug

[2022-09-30 04:46] #667 closed

[2022-10-05 21:01] mrduncan opened #668 "SNOW-673127: Data race accessing `(*snowflakeConn).cfg.Params`"
### Issue description

[`populateSessionParameters`](https://github.com/snowflakedb/gosnowflake/blob/master/connection_util.go#L153) and [`isClientSessionKeepAliveEnabled`](https://github.com/snowflakedb/gosnowflake/blob/master/connection_util.go#L17) both access `cfg.Params` without locking or coordination. This is problematic when using `sql.DB` with more than one connection.

It looks like [`ge

[2022-10-10 19:56] mihaitodor opened #671 "Support JWT authentication by passing in a valid JWT token directly in the DSN"
### Issue description
Currently, I can use the following DSN: `<snowflake_user>@<snowflake_account>/<db_name>/<schema_name>?warehouse=<warehouse>&role=<role>&authenticator=snowflake_jwt&privateKey=<bae64_url_encoded_private_key>`.

However, it's not a good security practice to embed the private key into the DSN, so I'd rather pass in a generated JWT like so: `<snowflake_user>@<snowflake_account>/<

[2022-10-11 00:56] mihaitodor commented on #279
I attempted to get this driver to connect to a MySQL Docker container, but, unfortunately, it doesn't work. Since [this code](https://github.com/snowflakedb/gosnowflake/blob/74e351e5e110c5b4c409730b47d5fa4058ab1c6f/auth.go#L45-L91) doesn't allow the `authenticator` parameter to be set to `tokenaccessor`, this connection string: `testuser:testpass@localhost:3306/testdb/testdb?account=testuser&authe

[2022-10-15 00:16] github-actions[bot] opened #673 "Snyk: gosnowflake golang.org/x/text v0.3.0 | Snyk ID - SNYK-GOLANG-GOLANGORGXTEXTLANGUAGE-3043869"
Title: Snyk: gosnowflake golang.org/x/text v0.3.0
  Additional information on Snyk can be found here: https://snyk.io/org/snowflakedb-sca-scanning-public-repo/project/70187b64-3a98-4b6f-a945-48604ebb7832
  Repo: gosnowflake
  CVE: CVE-2022-32149
  Package Type: golang
  Package Name: golang.org/x/text
  Package Version: v0.3.0
  Snyk ID: SNYK-GOLANG-GOLANGORGXTEXTLANGUAGE-3043869
  Vulnerability U

[2022-10-17 15:53] Thomasdezeeuw opened #674 "SNOW-679254: Properly support arrays as returned type"
### Issue description

Currently arrays are returned a strings, which is not ideal because that means we have to parse those manually.

[2022-10-20 12:50] fsaintjacques opened #675 "SNOW-681265: Feature request: Support PUT from memory stream (io.Reader)"
### Issue description
I find the `PUT file://` to be restrictive. We run our services in kubernetes on diskless nodes. The fact that we need local disks (we can cheat and use tmpfs and/or mkfifo, but it still needs to roundtrip via the kernel) is a bummer. I would really like that PUT supports in memory `io.Reader` that avoid disk materialization.

### Example code
[code]

[2022-10-20 12:54] fsaintjacques commented on #675
BigQuery has no issue doing this https://github.com/googleapis/google-cloud-go/blob/bigquery/v1.42.0/bigquery/file.go#L23-L39

[2022-10-20 13:36] anekdoti commented on #644
I have the same problem with gosnowflake v1.6.13. Executing the statement `db.Exec("CREATE SCHEMA IDENTIFIER(:FOO)", sql.Named("FOO", "MYSCHEMA"))` yields the error

[2022-10-20 17:43] fsaintjacques commented on #675
I'll close this since it's possible via `WithFileStream`.

[2022-10-24 19:34] fsaintjacques commented on #675
Actually, I'm going to leave this open. While the library does indeed support an io.Reader, it streams everything to memory https://github.com/snowflakedb/gosnowflake/blob/master/connection_util.go#L113

[2022-10-24 21:00] #578 closed

[2022-10-26 14:50] EfChouTR opened #677 "breaking change in 1.6.13: Using `*time.Time` as a field value does not properly create/update/select."
### Issue description
When using `*time.Time` as a struct field updates/selects no longer updates/returns values to/from the DB. We had to revert to 1.6.12. PR #642 seems to have broken the behavior.

### Example code
[code]

define a struct like above, do update/create/select. CreatedAt field is not propagated to the DB. No errors.

### Error log
N/A

### Configuration
*1.6.13*

*Go version:* 1.1

[2022-10-27 07:27] varmakarthik12 commented on #677
Particularly since this fails silently. It took us a while to corner this. Can someone confirm if this is an intentional or a possible bug?

[2022-10-27 08:53] Thomasdezeeuw opened #678 "SNOW-684693: Small and large date/times not passed properly"
### Issue description

According to the documentation (https://docs.snowflake.com/en/sql-reference/data-types-datetime.html#data-types) Snowflake support years in the range 1582-9999, however when you pass small or large date times it will return incorrect values.

For example:

Value | Unix | Got
------|------|-----
9000-10-10 10:10:10 | 508864525485380608 | 1986-02-15 15:15:25.485380608
1600-10-

[2022-11-01 01:35] sfc-gh-swinkler opened #681 "SNOW-686627: TF Provider Issue"
### Issue description
I am a Snowflake employee working on the Terraform provider which heavily uses the go connector. In the latest release (v1.6.14) the following go module was changed from v0.0.1 to v0.0.9:
[code]

This module causes problems when building the code for Windows. Specifically:
[code]

Please change it back to v0.0.1 or better yet, find a way to get rid of this problematic package

[2022-11-01 19:39] rishi-suresh-keshav opened #682 "SNOW-687281: ClientTimeout for Queries"
### Issue description
I am wondering why I do not get any kind of timeout errors even though I set `ClientTimeout` option in `Config` to 1 sec. My snowflake query is taking about 5.8 secs to respond. Is `ClientTimeout` an appropriate option to set or is there something else that i should be using?

### Here is my setup. I am using `database/sql`
[code]

### Configuration

*Go version:* run `go ver

[2022-11-02 10:19] Thomasdezeeuw opened #683 "SNOW-687823: Duplicate/wrong response to queries"
### Issue description

We have a test suite were we run a number of incorrect queries against Snowflake. For this we create a new (gosnowflake) connection per query, no reuse or sharing. I just saw that two different queries got the same response. For reference the two queries are:
* Session ID: 665762883015854, Query ID: 01a8099b-0000-cc57-0002-5d82001465de, we'll call this "BAD_INT".
* Session I

[2022-11-02 22:03] ColmanHumphrey commented on #632
Hey @SimbaGithub @sfc-gh-hchaturvedi @sfc-gh-jfan @sfc-gh-dszmolka @sfc-gh-mkeller @sfc-gh-jbahk @ sfc-gh-sbommakanty:

We're hoping that Snowflake can be a first-class supported database in our product. So far progress is good, but this issue along with https://github.com/snowflakedb/gosnowflake/issues/630 and https://github.com/snowflakedb/gosnowflake/issues/631 are blocking issues for some key

[2022-11-03 08:13] sfc-gh-dszmolka commented on #632
hello @ColmanHumphrey  thank you for raising awareness for this.

From the process perspective: if issues concerning official Snowflake drivers (like gosnowflake here) are raised with Snowflake Support, then the issues are automatically associated with SLA's according to their priorities at submit time; also tracking, regular updates, and everything which one might expect from an official support

[2022-11-03 20:36] ColmanHumphrey commented on #632
Hey @sfc-gh-dszmolka,

Regarding support: to be honest my prior tickets have not had a ton of engagement. But just a question on that, I'm a little unsure: are you saying you'd prefer that to issues in this repo? Or both are good? The situation is less clear than normal: we are not trying to get our own Snowflake usage improved, we are helping our customers get the most value from Snowflake throug

[2022-11-03 22:25] ColmanHumphrey commented on #631
I don't have a repro just yet, but for a quick check:

In https://github.com/snowflakedb/gosnowflake/blob/82aecfae87c571aa7dfe1c7542e1e48517e79ec8/encrypt_util.go#L287-L290, there are no checks on the unpadding. Compare this to say https://github.com/go-web/tokenizer/blob/f87b3c7a4e753ae3ad7f95b270cfeae509083e99/pkcs7.go#L52-L62, where nearly the same thing is happening. There, there's an explicit

[2022-11-04 08:40] sfc-gh-dszmolka commented on #632
hi @ColmanHumphrey

I sent you a mail related to this to discuss the details because this is really not something which our customers should experience. I would like to see where we could improve.

Both are good indeed. I'm positive the issues submitted in this repo are also known to the dev team, but I'll let them comment further on that if they wish.
However, the 'official' Support tickets do ha

[2022-11-10 08:34] sfc-gh-dszmolka commented on #631
Hi,
The driver dev team made a new branch of the driver which is hoped to resolve issues #630, #631, #632.
https://github.com/snowflakedb/gosnowflake/tree/fixCipherPanicIssues

Would it be please possible @thomas to test it and see if it really does ? Would appreciate any feedbacks.

[2022-11-10 08:35] sfc-gh-dszmolka commented on #632
Hi,
The driver dev team made a new branch of the driver which is hoped to resolve issues #630, #631, #632.
https://github.com/snowflakedb/gosnowflake/tree/fixCipherPanicIssues

Would it be please possible @Thomasdezeeuw to test it and see if it really does ? Would appreciate any feedbacks.

[2022-11-11 12:01] Thomasdezeeuw commented on #630
@sfc-gh-dszmolka I can confirm that this that tree fixes this issue. Thanks @sfc-gh-ext-simba-lb!

[2022-11-11 12:03] Thomasdezeeuw commented on #631
@sfc-gh-dszmolka I can confirm that the tree fixes this issue. Thanks @sfc-gh-ext-simba-lb!

[2022-11-11 12:05] Thomasdezeeuw commented on #632
@sfc-gh-dszmolka I think this issue is also fixed, however not 100% sure (I lost the reproduction code). In any case thanks for the work @sfc-gh-ext-simba-lb!

[2022-11-11 12:34] sfc-gh-dszmolka commented on #632
hi @Thomasdezeeuw thank you so much for testing the fix for this and the other 2 as well! We can still revisit the issue if you perhaps see it resurface.

[2022-11-14 09:22] sfc-gh-dszmolka commented on #683
Hi @Thomasdezeeuw

Thank you for raising this issue and sharing the queryids. Took a peek at both of them, how they were processed and see the following responses from the Snowflake engine:

* 01a8099b-0000-cc57-0002-5d82001465de --> `error 000904, SQL compilation error: error line 1 at position 86 invalid identifier 'BAD_INT'`
* 01a8099b-0000-cd4b-0002-5d820014939a --> `error 002027, SQL compilat

[2022-11-14 09:55] Thomasdezeeuw commented on #683
Yes, I got the same results in the Snowflake dashboard.

I'm afraid I don't have the logs and I don't remember doing any special to be honest. Just running our test suite, which runs maybe ~16 concurrent queries. Like I said for each test we create a separate gosnowflake connection and close it after we ran the query.

For I think it's best to give this a low priority, I just wanted to share it in

[2022-11-14 10:18] sfc-gh-dszmolka commented on #683
thank you for providing further details on this - agreed, let's keep an eye on this for now and see if you or anyone else hits this again

[2022-11-14 20:47] sfc-gh-ext-simba-lb opened #690 "SNOW-693854: Track upgrade of go-ieproxy"
### Issue description
Creating this issue to track the upgrade of go-ieproxy library. The upgrade is blocked until https://github.com/mattn/go-ieproxy/issues/45 is resolved.

### Example code
[code]

### Error log
[code]
Add ``glog` option to your application to collect log files.

### Configuration
*Driver version (or git SHA):* v 1.6.14

*Go version:* run `go version` in your console

*Server ve